[2014-11-19 04:34] mlp6 opened #1 "3 thermistors work instead of 5 on analog inputs"

[2014-11-19 04:35] mlp6 opened #2 "Analog level sensor will not read"
The analog reading of the level sensor (output is variable current that I run through a resistor for voltage reading) is not being read by the Arduino, though it can be read by a multimeter.

[2014-11-19 04:35] mlp6 opened #3 "Pump / Ignitor Timer Conflicts"
Running the pump and ignitor on separate timers that will not conflict has been challenging.

[2014-11-19 04:36] mlp6 opened #4 "Digital LOW -> Relay Throw"
Enough current flowing through some of the digital pins to switch my relay even when the setting is LOW.

[2015-01-29 16:05] mlp6 commented on #4
Going to change all of the digital outputs to BJT -> relay cascade for power isolation.

[2015-01-29 16:05] mlp6 commented on #2
Analog current from the water meter is not being properly fed into the Arduino analog input as a voltage.  Need to investigate whether this could be done digitally while still preserving the dynamic range of the measured level.

[2015-01-29 16:06] mlp6 commented on #3
This problem should be resolved by the independent power circuits with digital out pin control for each.

[2015-01-29 16:07] mlp6 commented on #1
Power output issues on the Arduino might be causing lots of spurious behavior... need to made the hardware (and software) a lot more modular.

[2015-01-29 16:11] mlp6 opened #5 "get BJTs and relays from Matt; breadboard too"

[2015-01-29 16:14] mlp6 opened #6 "common power supply: voltage regulator"
Currently 4 different voltages are needed in the circuit:
1. 5 V - Arduino
2. 24 V (0.5 W) - water level transducer
3. 12 V (2 W) - valve
4. 1.5 V (0.42-0.48 W) (280-320 mA) - ignitor
5. 12 V (48 W) (6 A) - Pump

Ideally we can use one DC transformer that can be regulated down to each DC voltage w/ adequate power supplied to each one.

[2015-03-10 01:49] mlp6 commented on #2
Fixed by connecting GND of thermistor sub-circuit to GND for the level sensor.

[2015-03-10 01:49] #2 closed

[2015-03-10 01:50] mlp6 commented on #1
A4 and A5 of Aaron's UNO were reading 5V when in analog input mode.  Swapped out UNO for one of mine and works now.  No issues with voltage division, etc.  Using the 3.3 V supply to reduce PS noise instead of using Wheatstone bridges for each thermistor.

[2015-03-10 01:51] #1 closed

[2015-03-10 01:51] #4 closed

[2015-03-10 01:51] mlp6 commented on #5
These are working.  Need to replenish Matt's supply.

[2015-03-10 01:53] mlp6 commented on #3
@aforbis-stokes do you have any details on the errors that you are getting when you try to get both of these timers working?

[2015-03-10 14:06] aforbis-stokes commented on #3
This is probably just a weakness of mine in coding, but when I try to have the pump run for a certain amount of time, everything else waits for that to complete. Same with the ignitor turning on, everything else waits for that to complete.

[2015-03-10 14:14] mlp6 commented on #3
Okay - we should be able to deal with that.  Is `ADPL_complete.ino` your latest working version (i.e., I shouldn't look at `ADPL_labsetup.ino`)?

[2015-03-10 14:15] aforbis-stokes commented on #3
Correct, ADPL_complete is the latest.

[2015-03-10 14:16] mlp6 commented on #3
I will take a look at it now... keep an out out for some commits, etc.  I do _not_ have an Arduino with me right now, so I won't be able to test for bugs that I might introduce in syntax, etc.

[2015-03-10 14:29] mlp6 commented on #3
I found a few areas of the code that we can really streamline, which I will tackle right now.  Question - line 85 of `ADPL_complete.ino` has a `delay()` call in the loop, but none of the other loops do; is that for a reason, or do you just need a general delay between readings?

My first optimization will be to consolidate your temp probe readings a lot to be more readable and modular, but I want

[2015-03-10 14:36] aforbis-stokes commented on #3
That comes from the example code in the Thermistor guide document. It had a delay between the readings that I assumed did not need to happen between reading each probe but needed to happen somewhere in the loop.

[2015-03-10 14:47] mlp6 opened #7 "refactor probe temperature reading code"
Right now, in ```loop()```, to following steps are performed serially:

1. Sample data on each probe
2. Average data on each probe
3. Convert each average to temperature (C)

The same exact operation is being performed for each probe, so will write a new ```probeTempRead()``` function that will do all of the "action" and then just loop for each probe in ```loop()```.

[2015-03-10 15:36] mlp6 commented on #3
~60% done; have a meeting now, but will get back to this ~1 PM.

[2015-03-10 18:41] mlp6 commented on #7
@aforbis-stokes Can you check that the code that I just pushed up to GitHub works for reading all of the temperature sensors still?  I refactored it a bunch, but wanted to make sure I didn't break any function.  I did verify that it will compile.  I will keep working on the other function in the mean time.

[2015-03-10 19:09] aforbis-stokes commented on #7
Still works!

[2015-03-10 19:17] mlp6 commented on #7
That is amazing and almost never works when you blindly code!  I'm cleaning up more... need to run to another meeting in a few min, but will be back at it in a bit.

Did you see how the code got condensed?  Is it still readable from your perspective?

[2015-03-10 19:36] aforbis-stokes commented on #7
I see what you did, and there are some commands I am unfamiliar with, but I think I get it.

[2015-03-10 19:58] mlp6 commented on #5
@aforbis-stokes We need to replenish Matt's components... do you have a source where we can order these for your replication needs, etc.?

[2015-03-10 20:01] mlp6 commented on #3
The issue w/ the conflicts in the activation of the ignitor or pump delaying subsequent execution is related to the use of serial `delay()` commands that will pause `loop()` until the specified delay has elapsed, which is _not_ the desired function.  Instead, we need to activate these components and continue to loop and check when to turn them off, rather than delay things.  I will implement this

[2015-03-10 20:03] aforbis-stokes commented on #5
I have only used Radioshack and Amazon to buy components. I have a PO code for our grant so can order more on my own or provide that code.

[2015-03-10 20:34] mlp6 commented on #3
@aforbis-stokes Is it true that everytime you use the ignitor that the following steps occur:
1. Turn on the ignitor
2. Hold it on for 5 sec
3. Turn off the ignitor

Do you ever not activate the ignitor that way?

[2015-03-10 20:36] aforbis-stokes commented on #3
Correct. Off for 15 min before turning on again.

It should also only be on when the valve is open (T<72)

[2015-03-10 20:41] mlp6 commented on #3
Okay - doing lots of code consolidation then, and hopefully making all of it more modular and readable for long-term maintenance.  I'm on a conference call now, but concurrently coding.  Hoping to get you something to test soon.

[2015-03-10 21:05] mlp6 commented on #3
@aforbis-stokes Can you inspect lines 98-123 for the code in the `ignitor` branch to see if my logic for the valve / ignitor make sense?  You can choose what branch you are on from the GitHub repository webpage if you don't have it on your local computer.  I don't want to break the `master` branch with non-functioning code (yet).   I replaced some of the loop code with functions that "do" what you

[2015-03-10 21:11] aforbis-stokes commented on #3
Yes, I follow the logic. Seems a little more simple than what I was trying to do.

[2015-03-10 21:14] mlp6 commented on #3
Great... now onto the pump.  Then you'll be on the hook the test everything.  :)

[2015-03-10 21:46] mlp6 commented on #3
@aforbis-stokes For the water level, if you are at an intermediate level, and you have turned on the pump for 5 min, do you want to impose the 55 min off time even if the level goes above your max threshold or only impose the 55 min off time if the level remains in the intermediate state?

Would it be bad to just keep the pump on until at the min level and give it some hysteresis so it doesn't kee

[2015-03-10 21:52] aforbis-stokes commented on #3
For the first, I was assuming the level would not change that quickly, so I was ok with the pump being off 55 minutes, but if it's a simple change to come on if it does reach that threshhold, then that would be a good fix.

Second, are you saying pump on until min instead of a timer? I don't think that would work so well, but some hysteresis around the thresshold would be good.

What I am hoping i

[2015-03-10 22:18] #3 closed

[2015-03-10 22:33] #7 closed

[2015-03-10 22:38] mlp6 opened #8 "functional testing"
Latest code in the master branch is ready for testing.  As before, I wrote all of this blindly, but did verify compilation of the code.

Once the code is in a fully-functional form, we can explore the final phase of making it truly modular, but if we don't get to that milestone, you will still have a fully-functional version of code before your trip in a few weeks.

You can create Issues for any b

[2015-03-11 00:04] mlp6 opened #9 "migrate valve function / status to class"

[2015-03-11 00:05] #9 closed

[2015-03-11 00:06] mlp6 opened #10 "migrate pump function / status to class"

[2015-03-11 00:06] mlp6 opened #11 "migrate thermistors functions / status to class"

[2015-03-11 00:07] mlp6 opened #12 "migrate ignitor function / status to class"

[2015-03-11 00:10] mlp6 commented on #8
I am actively working on this a bit more, so hold off on testing this evening if you can and try in the morning.

[2015-03-11 02:32] mlp6 opened #13 "water levels need to be converted to inches"
changes should be made to ```Pump.h``` and ```Pump.cpp```

[2015-03-11 02:39] #10 closed

[2015-03-11 04:52] #11 closed

[2015-03-11 04:53] mlp6 opened #14 "migrate water level to class"

[2015-03-11 05:21] #12 closed

[2015-03-11 05:35] mlp6 commented on #13
should be done in `LevelSensor.cpp`

[2015-03-11 05:38] #14 closed

[2015-03-11 13:37] aforbis-stokes commented on #8
I've been trying to get the code to compile, but referencing the libraries is not working for me.

This error repeats for each library:
In file included from ADPL_mp.ino:4:
C:\Users\Aaron\Documents\Arduino\libraries\Pump/Pump.h:12: error: ISO C++ forbids initialization of member 'offTime'
C:\Users\Aaron\Documents\Arduino\libraries\Pump/Pump.h:12: error: making 'offTime' static
C:\Users\Aaron\Docum

[2015-03-11 14:09] mlp6 commented on #8
Working on it... very strange since this will compile on my system just fine.

[2015-03-11 14:13] mlp6 opened #15 "error: ISO C++ forbids in-class initialization of non-const static member"
It appears that earlier versions of C++ will not allow what the header error message says... so things that compiled fine on my system aren't compiling on Aaron's system, which I'm guessing is using an older version of the C++ compiler.  I'll move these initializations to the constructor.

[2015-03-11 14:24] mlp6 commented on #8
Give it a try now with the latest version on the `master` branch.

[2015-03-11 14:24] aforbis-stokes commented on #15
Ok, I check for Arduino software updates and downloaded the newest version since last time I check. Code now compiles.
I now will check with hardware.

[2015-03-11 14:47] aforbis-stokes commented on #8
Have the program compiling/uploading/running on the Arduino.
The temp probes are working a little crazy. Here is the serial monitor output:

88.91, 43.48, nan, nan, 45.72, 0, 0
406.00
nan, 58.10, 54.07, 44.30, 62.26, 0, 0
410.00
nan, 82.67, 74.16, 58.76, 94.64, 0, 0
410.00
nan, nan, 129.28, 83.34, nan, 0, 0
409.00
47.69, nan, nan, -273.15, nan, 0, 0
410.00

[2015-03-11 14:49] mlp6 commented on #8
Were those temp numbers more stable yesterday?

[2015-03-11 14:51] aforbis-stokes commented on #8
Yes, they were pretty constant. No "nan" outputs, all values staying around 22 or 23.

[2015-03-11 14:59] mlp6 commented on #8
Give it a try now...

[2015-03-11 15:10] aforbis-stokes commented on #8
New output below. Previously 1 second between readings, now 5 seconds between.

nan, nan, nan, nan, nan, 0, 0
403.00
44.61, nan, nan, nan, 44.38, 0, 0
404.00
60.77, 56.99, 55.13, 55.74, 60.31, 0, 0
405.00
90.90, 80.54, 76.14, 77.55, 89.50, 0, 0
405.00
nan, 222.36, 143.30, 157.28, nan, 0, 0
404.00
nan, nan, nan, nan, nan, 0, 0
403.00

[2015-03-11 15:13] mlp6 commented on #8
I love making things worse.  :)  Okay... I'll look at this a bit more.  What would be your preferred time b/c readings?

[2015-03-11 15:17] mlp6 commented on #8
Give it a try now... I realize that I never set the samples and average private members to 0 for each new `read()` call, which was probably causing all sorts of issues.

[2015-03-11 15:28] aforbis-stokes commented on #8
I'm ok with 5 second between readings. I'm storing readings on a 4GB SD card for a week, which I believe has capacity to store these readings every second, but that amount of data is not necessary.

Timing back to 1 second between readings, but output not giving any real numbers:
nan, nan, nan, nan, nan, 0, 0
415.00
nan, nan, nan, nan, nan, 0, 0
416.00
nan, nan, nan, nan, nan, 0, 0
419.00

[2015-03-11 15:34] mlp6 commented on #8
Can you test w/ the latest version... I have put some additional serial print statements in there to help me first out what is not happy.

[2015-03-11 15:41] aforbis-stokes commented on #8
Getting a compiling error. Did you only edit TempProbe.CPP ? The new folder does not come up with the .h file, but I have left the most recent in the library.

C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp: In member function 'void TempProbe::read()':
C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp:27:5: error: expected ';' before 'timeRead'
     timeRead

[2015-03-11 15:48] mlp6 commented on #8
Whoops, there was a syntax error that I introduced.  Give it a try now.

[2015-03-11 15:52] aforbis-stokes commented on #8
New output (repeats each reading):
-11425-114.25-9.95-1004.62-10889-108.89-10.39-962.02-10636-106.36-10.62-941.77-10636-106.36-10.62-941.77-11436-114.36-9.95-1005.49nan, nan, nan, nan, nan, 0, 0
418.00

[2015-03-11 16:24] mlp6 commented on #8
I have reverted some of the logic I consolidated... give it a try now.  (fingers crossed)

[2015-03-11 16:38] aforbis-stokes commented on #8
New output:
0.00, 0.00, 0.00, 0.00, 0.00, 1, 0
404.00
0.00, 0.00, 0.00, 0.00, 0.00, 1, 0
404.00
0.00, 0.00, 0.00, 0.00, 0.00, 1, 0
440.00
0.00, 0.00, 0.00, 0.00, 0.00, 1, 0
451.00
0.00, 0.00, 0.00, 0.00, 0.00, 1, 0
444.00

[2015-03-11 16:47] mlp6 commented on #8
Okay - another debugging copy in master - can you send me that serial terminal output?

[2015-03-11 16:51] aforbis-stokes commented on #8
Error in compiling:

C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp: In member function 'void TempProbe::read()':
C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp:24:28: error: call of overloaded 'println(int [10])' is ambiguous
     Serial.println(_samples);
                            ^
C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp:24

[2015-03-11 16:56] mlp6 commented on #8
Should be fixed; give it a try now.  I'm headed out for a bit, but hopefully will figure out based on your output what is going wrong here.  This must be a variable-type error or something like that.

[2015-03-11 16:58] aforbis-stokes commented on #8
New output (each reading gives an output like this):

1081
1080
1081
1080
1082
1082
1081
1081
1081
1080
10809.00
1080.90
-186683.78

[2015-03-11 19:18] mlp6 commented on #8
Well, that sheds some light on the problem... that streaming value (first 10) should never exceed 1023.  Try the latest version.

[2015-03-11 19:46] aforbis-stokes commented on #8
Same kind of output. I noticed there is a Arduino.h command. I do not think I have a Arduino file in the library, but I'm guessing that is a standard command for all Arduinos.

542
542
542
542
542
542
542
542
542
542
11268.19

[2015-03-11 19:50] mlp6 commented on #8
What temperature did this output yield?

[2015-03-11 19:52] aforbis-stokes commented on #8
Sorry, missed that line in copy/paste.

0.00, 0.00, 0.00, 0.00, 0.00, 1, 0
452.00

[2015-03-11 19:55] aforbis-stokes commented on #8
I ran the consolidated temp probe from yesterday, again. Here is that output for reference:

22.36, 21.82, 21.56, 21.56, 22.34, 471.00
0, 0, 1
22.36, 21.82, 21.56, 21.56, 22.34, 469.00
1, 0, 1
22.37, 21.82, 21.56, 21.56, 22.34, 466.00
1, 0, 1

[2015-03-11 20:05] mlp6 commented on #8
Good news is that 542 and 11268 are correct in the raw output you sent (corresponds to the temps you send from the old code).  Try the version I just uploaded that will print output at each step of the deg C conversion.  Should be able to figure this out soon!!

[2015-03-11 20:19] aforbis-stokes commented on #8
Ran into another compile error. I tried finding that missing ")" myself, but everything I saw was closed.

Build options changed, rebuilding all
C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp: In member function 'void TempProbe::read()':
C:\Users\Aaron\Documents\Arduino\libraries\ADPLmaster\TempProbe.cpp:41:5: error: expected ')' before 'Serial'
     Serial.println(temp);

[2015-03-11 20:23] mlp6 commented on #8
fix pushed up; try it now!

[2015-03-11 21:34] aforbis-stokes commented on #8
Sorry, needed to have unscheduled meeting with my advisor. New output:

1.18
0.16
0.00
0.00
294.53
21.38
553
553
553
553
553
553
553
553
553
553
Thermistor resistance (Ohm):11765.96
1.18
0.16
0.00
0.00
294.53
21.38
544
544
544
544
543
544
544
544
544
544
Thermistor resistance (Ohm):11352.54
1.14
0.13
0.00
0.00
295.32
22.17

[2015-03-11 21:35] mlp6 commented on #8
Great... the temps look correct... so why are the other ones being displayed wrong?!

[2015-03-13 17:23] aforbis-stokes commented on #8
Running through this again today and noticed I missed something last time. The other prints are being displayed, I missed that line as I was scrolling through the output. However, on that line the temps are still being displayed as 0.0.

548
548
547
548
548
548
548
548
548
548
Thermistor resistance (Ohm):11532.31
1.15
0.14
0.00
0.00
294.98
21.83
558
558
558
558
558
558
558
558
558
558
Thermistor r

[2015-03-13 19:28] mlp6 commented on #8
So, all of the temps are correct (the 2?.?? numbers that precede the 5?? numbers), but the temp is just being read / displayed incorrectly from `loop()`.   Try the latest version now to see some consolidated debug statements.

[2015-03-13 19:45] aforbis-stokes commented on #8
New output:
Thermistor Temperature (deg C):21.55
Thermistor Temp in loop: 0.00
Thermistor Temperature (deg C):21.99
Thermistor Temperature (deg C):21.73
Thermistor Temperature (deg C):21.67
Thermistor Temperature (deg C):21.51
Thermistor Temperature (deg C):21.55
Thermistor Temp in loop: 0.00
Thermistor Temperature (deg C):22.01
Thermistor Temperature (deg C):21.73
Thermistor Temperature (deg C):2

[2015-03-13 19:46] aforbis-stokes commented on #8
And, what you are saying is correct. All the readings looked good, just something funny in the output.

[2015-03-13 20:23] #15 closed

[2015-03-13 20:24] mlp6 commented on #8
Okay - this should be a "simple" variable reference fix.  I'll try to debug just on my end w/o you having to test everything.  Does the rest of the code work?

[2015-03-13 20:54] mlp6 commented on #8
Can you try the latest version I pushed (still debugging, but I'm not getting this error on my local compile).

[2015-03-13 20:59] aforbis-stokes commented on #8
Newest output:
Thermistor Read Temperature at:6487
Thermistor Temperature (deg C):21.12
Thermistor Temp in loop: 0.00
Thermistor Read Temperature at: 6487
Thermistor Read Temperature at:6779
Thermistor Temperature (deg C):21.73
Thermistor Read Temperature at:7002
Thermistor Temperature (deg C):28.80
Thermistor Read Temperature at:7224
Thermistor Temperature (deg C):21.72
Thermistor Read Temperatur

[2015-03-13 21:02] mlp6 commented on #8
Well, that is infuriating... the timeRead variable is being correctly printed (6487) within the object and in loop(), but temp isn't.  How long are you at work this afternoon to iterate on this?

[2015-03-13 21:05] aforbis-stokes commented on #8
I can stay another hour.

I am checking other parts out, and a few other things are strange. The valve is staying open (reading 1 in serial monitor and also measuring voltage) even when the temperature goes from below 25 to above 28, and doesn't change when it goes back down.

The relay for the ignitor was previously going on/off every 5 seconds, but now is staying on.

Have not gotten to do a goo

[2015-03-13 21:08] mlp6 commented on #8
Can you try the latest master version...

[2015-03-13 21:11] mlp6 commented on #8
The valve parts won't work now b/c the temps are coming out as 0 all the time in the logical tests, so that doesn't surprise me.

[2015-03-13 21:14] aforbis-stokes commented on #8
New output:
Thermistor Temp in loop: 21.13
Thermistor Temperature (deg C):21.73
Thermistor Temperature (deg C):26.82
Thermistor Temperature (deg C):21.73
Thermistor Temperature (deg C):21.91
Thermistor Temperature (deg C):21.13
Thermistor Temp in loop: 21.13
Thermistor Temperature (deg C):21.73
Thermistor Temperature (deg C):26.82
Thermistor Temperature (deg C):21.73
Thermistor Temperature (deg C)

[2015-03-13 21:16] mlp6 commented on #8
WOOHOO!!  That was a typo error I had buried in the code that I found... see if the valves will work now.  And lets make a list of what ever else is wacko.

[2015-03-13 21:30] aforbis-stokes commented on #8
The Arduino output (actual signal & serial monitor) to the the valve is perfect. No signal when above 28C, once it drops below 25 there is a signal until back about 28.
The ignitor signal is a little off. It only operates when the valve is open, but the timer is more like on for 5 seconds, off 1 second, repeat.
I might need to move the set up to my lab to test the level sensor better. Without a go

[2015-03-13 21:32] mlp6 commented on #8
Let me check the ignitor now... if we have that working, then I think you can relocate to your lab.

[2015-03-13 21:38] mlp6 commented on #8
Try now... check for more correct ignitor function, and some new serial output you can send me if we need to debug more.

[2015-03-13 21:47] aforbis-stokes commented on #8
Still the same on ignitor
1, 0
330.00
Thermistor Temperature (deg C):21.13
Thermistor Temp in loop: 21.13
Thermistor Temperature (deg C):21.81
Thermistor Temperature (deg C):21.74
Thermistor Temperature (deg C):21.57
Thermistor Temperature (deg C):22.16
1, 0
333.00
Thermistor Temperature (deg C):21.13
Thermistor Temp in loop: 21.13
Thermistor Temperature (deg C):21.81
Thermistor Temperature (deg C

[2015-03-13 21:52] mlp6 commented on #8
That doesn't look like the latest code is running.  I just pushed up even more verbose code to try.

[2015-03-13 21:55] aforbis-stokes commented on #8
You're right, forgot to re-open the .ino

Ignitor last fired: 6164
Ignitor last fired: 12328
Ignitor last fired: 18493
Ignitor last fired: 24658
Ignitor last fired: 30823
Ignitor last fired: 36988

[2015-03-13 21:57] mlp6 commented on #8
That still looks like an old version...

[2015-03-13 21:59] aforbis-stokes commented on #8
in class time: 6164
TOO LOW - Ignitor last fired: 6164
in class time: 12329
TOO LOW - Ignitor last fired: 12329
in class time: 18495
TOO LOW - Ignitor last fired: 18495

[2015-03-13 22:08] mlp6 commented on #8
Right now it is firing all of the time b/c it is falling below the incineration low temp threshold (25 deg C), as specified on line 82.  I didn't have a test if the valve was open or closed there, so it was just refiring each time through.  I have added a test for valve status now.  See if that makes a difference.

[2015-03-13 22:14] aforbis-stokes commented on #8
Ok, I think it's good now. On for 5 seconds, been at least a couple minutes off.

[2015-03-13 22:15] mlp6 commented on #8
Great... I would move the setup so you can test water level, and then maybe be able to modulate temperature to test that too.  Keep me posted... I'll be online this weekend at times.

[2015-03-13 22:15] aforbis-stokes commented on #8
Ok, I should probably head home for now and will do that in the morning. Will update you then.

[2015-03-14 15:39] aforbis-stokes commented on #8
I think this is all good! Pump and ignitor timers both working correctly, not conflicting. Signals coming from the Arduino at the right times and under the correct situations.
Removing the comment out on the serial print gives the correct display for all readings.

[2015-03-14 15:42] mlp6 commented on #8
Great!  Do you need any additional functionality now that we have it in a good place?  I didn't touch the SD card parts, but those can also be significantly consolidated.  Thoughts?

[2015-03-14 15:44] aforbis-stokes commented on #8
I now have a hardware issue, though. I accidentally ran the relays with 12V instead of 5V. 2 of 3 three I think are fried. Looking at the setup and specs, I think I should replace all of them with 12VDC relays. 12VDC is an acceptable input for all components (including Arduino) except for the ignitor (1.5V, using a AA battery). I'm going to swing by Radioshack on my way home to see if they have so

[2015-03-14 15:48] #8 closed

[2015-03-14 16:08] aforbis-stokes commented on #8
I need to convert the level analog reading into a height. I'm trying to follow the example of the thermistor conversion, but I think the level sensor operates a little differently.

[2015-03-14 16:40] mlp6 commented on #8
Is the spec sheet in `docs/`?  If so, then I'll take a peek at that.  I'll start a new issue for this.

[2015-03-14 16:41] mlp6 commented on #13
I think the correct manual is `docs/Mebcal6 Manual.pdf`.  Can you confirm?

[2015-03-14 17:17] aforbis-stokes commented on #13
Mebcal16 is for programming the EchoPod. The EchoPod specs are in the EchoPod manual. P. 5 says the power can be 12-28 VDC. p 19-20 describes the analog output reading

[2015-03-14 17:22] aforbis-stokes commented on #8
I still don't have GitHub totally figured out. Attached is an updated
document. P3 has a consolidated spec sheet.

On Sat, Mar 14, 2015 at 12:40 PM, Mark Palmeri notifications@github.com
wrote:

[2015-03-14 17:57] mlp6 commented on #13
Okay - I'll take a look at your DipTrace schematic to see what resistor you have that current going through.  What range should the level meter be able to read (i.e., at the min and max current values)?

[2015-03-14 18:49] aforbis-stokes commented on #13
It is going through a 237Ohm resistor. I believe the current setting on the
sensor is 2" is bottom, everything below that should be 4 mA reading, 12"
is top and 20 mA is the reading at that point. I can change what levels the
4 & 20 mA outputs correspond to via the Mebcal software.

On Saturday, March 14, 2015, Mark Palmeri notifications@github.com wrote:

[2015-03-14 21:06] mlp6 commented on #13
Given that, we can add a simple conversion.  I'll take care of that and push it up, and then I'll let you test, etc.

[2015-03-14 22:54] mlp6 commented on #13
I have a working version on the `level_inch` branch that you can test.  It converts the levelCurrentmA variable to the output current from the sensor, which I'm guessing you can then convert to inches.

`LEVEL_MIN_MA` and `LEVEL_MAX_MA` are the thresholds, in mA, that you can set for the level thresholds.

Let me know if this works as you would like.

[2015-03-16 14:24] aforbis-stokes commented on #13
This looks perfect.

[2015-03-16 18:12] #13 closed

[2015-03-16 18:58] aforbis-stokes commented on #5
I have done more hardware checks. I found 3 relays that go up to 14 VDC at Radioshack to replace the other relays. While checking these, I found that 2 of the 3 BJTs no longer work. Are there more of these available that I can continue tests with? I figure once I have everything completely running for a longer test, I will buy duplicates and replenish Matt's supply.
Also, what do we need to do to

[2015-03-16 19:14] sphaerobolus commented on #5
I could provide some more BJTs. I'm in the Teer basement, the '0' level. I'll be here today until about 4:00.

[2015-03-17 00:24] mlp6 opened #16 "Hardware Board Design"
@aforbis-stokes What is your timeline / when do you leave for your trip to have a board done?  (I will be gone Fri - Wed.)

We have a few options for board design to consider:
* Use perf board to mount all hardware, with wire / solder connections.
* Layout a printed circuit board with DipTrace that we could either etch in-house or send out to be etched.

Perf board might be totally fine for this s

[2015-03-17 13:06] aforbis-stokes commented on #16
I leave on Sunday morning.

Perfboard is probably good. This is something that I will want to replicate at a later time, but I just need one to take with me (and remaining lab setup) for now.

[2015-03-17 14:09] mlp6 commented on #16
@sphaerobolus might have some scraps of perfboard looking for a new home that could be donated to this project (and then replaced at some point)... if not, then we should have some in the lab that I can dig up.  Going this route, then you won't need to use DipTrace to route anything.  I would just create a logical layout on the perf board, similar to what you've done on the Breadboard.  We have so

[2015-03-17 14:24] aforbis-stokes commented on #16
I was thinking something like 6"x6" for the box, and for connecting the thermistors to the circuit I thought I would solder them.

However, I think this is something where someone more experienced could probably give a quick look at my set up and recommend something much better than what I have thought of or am aware of.

[2015-03-17 14:56] aforbis-stokes commented on #5
@sphaerobolus I picked up some 12VDC relays that are similar to the 5VDC ones you supplied. They do not have the 87a prong (Normally closed), and one of my components needs to switch between normally open/normally closed. Do you have any relays around that can operate under 12VDC have both connections?

[2015-03-17 15:04] sphaerobolus commented on #5
@aforbis-stokes I think I can supply that. Stop by when you get a chance. Also, bring one of your relays--I'd like to confirm the missing NC pin. That a relay is missing said pin surprises me.

[2015-03-17 15:05] sphaerobolus commented on #16
I do have some perfboard scraps.

[2015-03-20 16:34] mlp6 opened #17 "compiled memory"
As it was, compiled code took ~110% of available memory.  Aaron reduced to ~99%, but we need more breathing room for variable space.

[2015-03-27 16:24] aforbis-stokes commented on #17
Update on the Arduino/SD card. When I call the setup code for the SD card back in, the rest of the program does not run. I first saw I was not getting information on the serial monitor and thought it was just the print command conflicting, but the output pins no longer work either.

Looking at the most recent code on GitHub, lines 59-60 (below) are what bring up this issue. Lines 49-55 were other

[2015-03-28 17:18] aforbis-stokes commented on #17
New update on SD card. I have changed some of the coding, and I have a working version. However, if I try to run too much, the serial monitor stops working, and if I include everything, the code gets stuck in the initial loop. I am sending 2 .ino files via email.

"ADPL_tempSD": This file only considers 3 temperature probes (no other hardware/functions). It works exactly how it should.
"ADPL_tempS

[2015-03-28 17:20] aforbis-stokes commented on #17
Attached files referenced in last Github comment.

On Fri, Mar 20, 2015 at 12:34 PM, Mark Palmeri notifications@github.com
wrote:

[2015-03-28 17:45] mlp6 commented on #17
I think this could easily be related to how much memory your code is using on the UNO.  Part of the issue is just how much memory that SD card library is consuming.  We could pick it apart to just have the pieces that you need, but not while you are there!  Could you test the unit w/o the serial monitor running (which is using memory) for a while, see that the SD card was written to, and test the

[2015-03-29 04:05] aforbis-stokes commented on #17
Yes, tried it out this morning with all of the serial commands commented
out. Everything will work with that. Now using 94%.

On Saturday, March 28, 2015, Mark Palmeri notifications@github.com wrote:

[2015-03-29 12:56] mlp6 commented on #17
Great!  Moving forward, we could transition to a different microcontroller w/ a bit more memory to work with if you plan to continue to iterate on this setup.

Are you happy w/ how it is performing?  Did you ever figure out what was going on with the 5th thermistor?

[2015-03-29 13:13] aforbis-stokes commented on #17
That might be a good idea to transition. Marc and I talked with someone
else on the same sanitation grant that uses the raspberry and uploads to a
nice interface they made. We talked about everyone syncing with that for
the Foundation to have easy access.

Happy with this. Way better than my last round as this actually works.

Still haven't figured out that last thermistor. Must be a connection is

[2015-03-29 14:44] mlp6 commented on #17
Great.  You can easily add a WiFi or similar interface for upload if you have connectivity, unless SD card upload is the envisioned procedure.  We can touch base when you get back (when is that?).

[2015-03-29 15:03] aforbis-stokes commented on #17
Yes, I think wifi will be a necessary replacement as we hope to increase
the number of units we have. The SD is good for the few we have for now.

I get back this coming Friday. Will touch back in then.

On Sunday, March 29, 2015, Mark Palmeri notifications@github.com wrote:

[2016-01-12 17:13] mlp6 opened #18 "increase up to 7 temp probes"
same type as before... previous issue was memory to handle all of these in parallel

[2016-01-12 17:15] #16 closed

[2016-01-12 17:15] mlp6 opened #19 "web database / alerts"
need to create a web portal for data logging and alert notifications

[2016-01-12 17:15] #5 closed

[2016-01-12 17:16] mlp6 opened #20 "update part list"
include power supplies and other misc. electronics hardware

[2016-01-12 17:19] mlp6 opened #21 "electronics enclosure"
hard mount point for all boards and cable routing

[2016-01-12 17:22] mlp6 opened #22 "electrical connectors"
new particle platform will require new connectors, and a previous issue was electrical connectivity to the Uno.  need to add strain relief to all connections and hard anchor points to enclosure.

[2016-01-24 20:50] aforbis-stokes commented on #20
Power supply:
India - Monitor power supply, Input: AC 100-240V; Output: DC 12V, 6A
Kenya & Philippines - 20W solar panel, Max Output: DC 17.5V, 0.28A with 12V charge controller; connected to 12V rechargeable battery

External hardware:
Valve (all locations) - Powered by same power source as micro-controller; Input: DC 12V, Max 167 mA (Max 2W) http://www.alibaba.com/product-detail/CWX-15Q-series-3-

[2016-03-23 19:05] mlp6 opened #23 "cell text warning alert"
when temperature > 65 C for > 30 min

[2016-03-23 19:06] mlp6 opened #24 "cloud data collection: temperature"
record temperature on all of the thermistors and save to the cloud

[2016-03-23 19:16] mlp6 commented on #24
good example: https://www.openhomeautomation.net/cloud-data-logger-particle-photon/

[2016-03-23 23:35] aforbis-stokes commented on #23
Just noticed, should be <65C for >30 min

[2016-03-28 02:13] mlp6 opened #25 "change analogRead bit depth: 10-bit -> 12-bit"
the particle uses a 12-bit analog input pin, not a 10-bit pin like the Arduino

[2016-03-28 02:20] mlp6 commented on #17
Moot point since the SD card is no longer being used with the Particle platform.

[2016-03-28 02:20] #17 closed

[2016-03-28 03:22] mlp6 commented on #23
https://community.particle.io/t/webhooks-sending-a-text-message/10560

[2016-03-28 03:29] mlp6 commented on #23
It looks like Twilio is one of the recommended services to achieve programmable SMS.  @aforbis-stokes do you want to sign up for an account to do this?  It appears to be free.  Another option would be to kick off an email to someone instead of a text message, which would not need this service.  Let me know.

[2016-03-28 12:59] aforbis-stokes commented on #23
@mlp6 I will setup a Twilio account. Let's go with SMS. Some of our field operators that will receive the alerts will not have smart phones.

[2016-03-28 13:02] aforbis-stokes commented on #23
Account created. Login is a.forbis.stokes@gmail.com; ADPL2016! (same as for Particle)

[2016-03-28 13:52] mlp6 opened #26 "tipping bucket counter"
The assembly is a magnet attached to a moving object (the bucket that tips every time it is filled with 300 mL of treated liquid) and a fixed sensor in the middle of the tipping bucket's pathway. The wires attached to that sensor send a current each time the magnet passes. The apparatus I showed you only counts the number of times the magnet has passed the sensor. Instead of that apparatus, we wil

[2016-04-01 02:30] #25 closed

[2016-04-01 02:30] #24 closed

[2016-04-01 02:30] #26 closed

[2016-04-01 02:31] #19 closed

[2016-04-01 02:31] #18 closed

[2016-04-01 02:31] #6 closed

[2016-04-01 02:31] #21 closed

[2016-04-01 02:31] #22 closed

[2016-04-16 14:30] mlp6 opened #27 "temp probes publishing every 9 sec, not 2.5 min"
@aforbis-stokes is reporting that the temperatures at being published too frequently

[2016-04-16 14:32] mlp6 opened #28 "voltage regulator powering Electon inadequate"
provides max 0.15 A output; needs 2 A @ 5V

[2016-04-16 14:39] mlp6 commented on #27
`TEMP_PUBLISH_DELAY` is set to 150000, which should provide a 2.5 min delay b/w publish events, but I didn't update `last_temp_publish` after a publish event.  This caused the temps to be published with every loop iteration.

[2016-04-16 14:40] #27 closed

[2016-04-17 01:51] mlp6 commented on #28
This is going to be fixed in the field with a diode-based regulator directly off the 12.6V battery to provide 11.6 V to the Electron.

[2016-04-17 01:51] #28 closed

[2016-04-17 01:52] mlp6 commented on #23
@suyashkumar is going to integrate this into his web server that will also be doing data collection

[2016-04-17 13:59] mlp6 commented on #23
Condition for text msg alert: Probe 3, < 65 deg C for >30 min

[2016-04-17 14:01] mlp6 opened #29 "reduce cellular data usage"
@aforbis-stokes estimated current data usage for 2.5 min publish events for 5 temperature probes to be ~13.2 MB/month, which will not be cheap.  Some ideas to reduce this data usage are to reduce the precision of data being published, maybe report stats over larger time intervals.

[2016-04-17 14:05] mlp6 opened #30 "request temperature data on demand"
In addition to the electron publishing data, add the ability to poll the device for temperatures on demand.  I'm guessing this will require `Spark.variable()` declarations for all variables that will be polled.

Hopefully these can be added in the data stream of things also being published, but maybe not all of the thermistors... or maybe you can choose which ones.

I'm not sure how much data the

[2016-04-17 16:26] mlp6 commented on #29
@aforbis-stokes looked into the data overhead associated with every publish event, which appears to be non-trivial, so we will accumulate data for every 1-2 hours and publish then.

[2016-04-17 20:06] suyashkumar commented on #30
Fantastic--indeed we'll use `Particle.variable()` to expose the necessary variables using HTTP GET requests. I've looked over the codebase and I suggest we just do the variable registration in the TempProbe constructor:
`Particle.variable("temp"+String(_pin), temp);`

I can go ahead and make this change and submit a pull request for you to review. If I make the change in the local code, will you o

[2016-04-17 20:07] suyashkumar commented on #30
Also, what sort of testing (if any) do we do before making live updates? Any thought to testing with a wifi photon?

[2016-04-17 20:15] mlp6 commented on #30
I have been making all of the changes in my local working copy of the code, and then just cut-n-paste into the web IDE so that Aaron in Kenya can push.  The only "testing" that is done is that it compiles.  We had a WiFi Photon going, but I've just been relying on the "verify" to make sure the code is at least valid.

[2016-04-18 02:07] suyashkumar commented on #29
This makes sense! Can I suggest we build the following JSON publish string:
"[
    {10:<temp>, 11:<temp>, ...,time:<UTC time>},
    {10:<temp>, 11:<temp>, ..., time:<UTC time>}
]"
Note that we can save 300 bytes off the bat by still publishing every 2.5 minutes (which is a nice "heartbeat" to have) by incorporating the 4 thermistors' data into one publish string like
"{10:<temp>, 11:<temp>, ...}"

[2016-04-18 02:45] mlp6 commented on #29
Sounds like a great plan to me.

[2016-04-18 17:15] mlp6 commented on #29
https://docs.particle.io/guide/getting-started/data/electron/

[2016-04-19 04:07] suyashkumar opened #32 "Ignore Negative Probe Values"
Ignore negative values when plotting (in front end). @aforbis-stokes

[2016-04-19 04:08] suyashkumar opened #33 "Sliding Scale for Plot Bounds"

[2016-04-19 04:21] suyashkumar opened #34 "Download Currently Drawn Plot as SVG"
It would likely be useful to download the currently drawn plot as a vector SVG.

[2016-04-19 12:12] mlp6 commented on #32
Maybe instead of ignoring them, they can (should?) be indicated on the plot (like a red X on the x-axis at that time point) in case that would be useful for @aforbis-stokes would like to know when it has been disconnected / damaged.

[2016-04-19 13:58] aforbis-stokes commented on #32
@mlp6 I like that idea.

[2016-04-19 14:11] suyashkumar commented on #32
Agreed--if this is where we want to see that sort of outage data that makes a lot of sense!

On Apr 19, 2016, at 10:00 AM, aforbis-stokes <notifications@github.com<mailto:notifications@github.com>> wrote:

@mlp6https://github.com/mlp6 I like that idea.

##

You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHubhttps://github.com/mlp6/ADPL/issues/3

[2016-04-19 16:42] suyashkumar commented on #29
Note the additional 318 bytes an hour that are being spent keeping the cell connection alive. I don't think we should be opening and closing the cell connection anymore though, cause we lose on demand access and control ability, but figured this would be good to note

[2016-04-20 06:25] #33 closed

[2016-04-21 05:03] suyashkumar opened #35 "Generate + Download CSV Data"
Generate a CSV of data for a given location (include all channels)

[2016-04-23 04:14] suyashkumar commented on #32
Sup y'all--I think let's talk in person about how to handle these (disconnects vs. bad values). Would something like an error log make sense?

[2016-04-23 04:48] suyashkumar opened #36 "Plot all data channels at once"

[2016-04-23 04:57] #36 closed

[2016-04-23 05:03] suyashkumar opened #37 "Graph Interactivity Slow with Large Number of Data Points"

[2016-04-23 05:04] suyashkumar commented on #37
@aforbis-stokes: do we really need to plot all the data in the dashboard? Or should we only be plotting the most recent data (e.g last 3 days)?

[2016-04-23 05:21] #37 closed

[2016-04-23 05:22] suyashkumar opened #38 "How much data to plot"
With the current settings we're essentially pulling down and plotting the *entire* database at once. Is this what we want to be doing? Are we most interested in plotting the last _N_ days in the dashboard? @aforbis-stokes

[2016-04-23 05:43] suyashkumar opened #39 "Other Dashboard Data"
What other "at-a-glance" type of data would be good to show in the dashboard? Maybe the avg temps over the last hour for each probe?

@aforbis-stokes
@mlp6

[2016-04-23 07:06] #35 closed

[2016-04-24 17:28] aforbis-stokes commented on #39
The average temp is a good idea. Another is if the Valve is on

[2016-04-24 17:32] aforbis-stokes commented on #38
Good point. Since all of the data will be available for download, the dashboard does not need to show everything from the beginning. How about showing the last 14 days?

[2016-04-24 20:57] suyashkumar commented on #39
Sweet, should we publish valve status along with our other temp data packages? We can likely also expose this using spark.Variable()

[2016-04-26 15:35] mlp6 opened #40 "rename tempProbe3 -> tempProbeHeaterTank"

[2016-04-26 16:43] suyashkumar opened #41 "Get Valve Status on Demand"
Get valve status on demand. Should we also publish this along with the other data periodically? @aforbis-stokes

[2016-04-27 07:13] #32 closed

[2016-04-27 07:15] suyashkumar commented on #38
Last 14 days sounds good--instead of doing that exactly I'll just send over the last 9000 data points which should be >=14 days of data.

[2016-04-27 07:21] #38 closed

[2016-04-28 21:30] mlp6 commented on #40
this is a more generic issue; will use:
1 = Heat exchanger cold inlet (HXCI is our short name)
2 = Heat exchanger cold outlet (HXCO)
3 = Heater (HTR)
4 = Heat exchanger hot inlet (HXHI)
5 = Heat exchanger hot outlet (HXHO)

[2016-04-28 21:33] mlp6 opened #44 "integrate bucket count hysteresis"
current single-shot (HIGH) lasts <=1 s, so need to lockout the counter for that 1 second interval; should make a private variable to declare this duration in case the hardware changes down the road.

[2016-04-28 21:37] mlp6 opened #45 "create GPIO pin-mapping"
need to map pins to function in a way that is robust for slight variations in different deployments.  would like to have the function names be universal, and the actual pins be what can change, especially since a blown pin in the field could trigger and on-the-fly redirect to a new pin

[2016-05-01 21:27] mlp6 commented on #44
@aforbis-stokes: is a 1 second lockout on the bucket count adequate?

[2016-05-01 21:53] #44 closed

[2016-05-02 00:57] #40 closed

[2016-05-02 00:58] mlp6 commented on #45
commit cfe344e adds this to the code; need to make accessible to the web server

[2016-05-02 00:58] mlp6 commented on #45
need to figure out how this mapping changes for the Photon (vs the default Electron), and how different deploys based on location that use more temp probes, etc. would change

[2016-05-02 01:02] suyashkumar commented on #45
@mlp6: what do you need to make accessible to the webserver? Let me know how I can help if needed

[2016-05-02 01:05] mlp6 commented on #20
@aforbis-stokes I'm going to close this, but I've started a file based on the above that needs to be more thoroughly completed.  We can/should probably make one of these for each location.

[2016-05-02 01:05] #20 closed

[2016-05-02 01:09] mlp6 commented on #41
@aforbis-stokes can you comment on if this is desired?

[2016-05-02 01:12] aforbis-stokes commented on #41
Sorry I missed this one. Yes, being able to check if the valve is open would be a good feature.

[2016-05-02 01:20] mlp6 commented on #41
and just to confirm, do you want this to be regularly reported back to the web server, or just make it accessible for on-demand query?

[2016-05-02 01:28] mlp6 opened #46 "mv level sensor mA readings to class methods"
currently the 'mA' values are meaningless to the end user and confuse the logic

[2016-05-02 01:43] #46 closed

[2016-05-02 02:04] mlp6 opened #47 "worth knowing level sensor readings?"
@aforbis-stokes would it be valuable to trace the water level when we also track the temps?

[2016-05-02 12:15] aforbis-stokes commented on #41
I don't think it would look good on the graph, but I think if it were in the dashboard, it would be valuable information.

[2016-05-02 12:18] aforbis-stokes commented on #47
We are actually starting to move away from the level sensor. That is only used in India and is a special case scenario. There have been some treatment system layout changes, and the level sensor is not being used at the moment (though still installed in case we change back). I don't have a clear plan for the level sensor, so I think we can put that off for now.

[2016-05-03 19:19] mlp6 opened #48 "bucket publish event not successful"

[2016-05-03 19:20] mlp6 commented on #48
FROM THE DOCS: Currently, a device can publish at rate of about 1 event/sec, with bursts of up to 4 allowed in 1 second. Back to back burst of 4 messages will take 4 seconds to recover.

[2016-05-03 19:37] #48 closed

[2016-05-11 18:47] mlp6 opened #49 "provision git subtree"
https://github.com/suyashkumar/provision

[2016-05-11 18:50] mlp6 opened #50 "logging: npm install"
check package.json

[2016-05-11 19:28] mlp6 opened #51 "authbind node server.js"

[2016-05-11 21:05] mlp6 commented on #51
@suyashkumar it appears that if the VM server goes down that someone needs to login and manually restart the server.  Is there a downside to triggering this automatically on boot?

[2016-05-11 21:08] suyashkumar commented on #51
Nope, there is no downside to doing this--we should definitely do this! If you'd like me to take care of it just assign me an issue and I'll do it!

[2016-05-11 22:02] mlp6 commented on #51
For my knowledge, does Ubuntu utilize an `etc/rc.local` approach to startup scripts, or is another method preferred?  (Obviously, I'm much more of a Redhat person than Debian...)

[2016-05-12 13:21] sphaerobolus commented on #51
The ubuntu machines that drive the dept 3D printers use the rc.local approach to startups.

[2016-05-18 03:38] mlp6 commented on #49
commit 4a287f9

[2016-05-18 03:38] #49 closed

[2016-05-18 21:04] mlp6 opened #52 "database record: probeid & temp"
``handle-device.js``: ``data.data.split`` -> parse by key name

[2016-05-18 21:10] mlp6 commented on #52
`probeid` needs to be a string, not an int

[2016-05-18 23:35] suyashkumar commented on #29
@mlp6, @aforbis-stokes:
Just bumping this thread over here. To save data and prevent us from worrying about publish rate limits, are we still interested in publishing all temps at once with, say a TEMP event with the following payload:
"
{
    "HTR":  [Number],
    "HXCI": [Number],
    ...
}
"
I think that makes sense since doing separate publishes for each temp causes us an extra 300 bytes a pub

[2016-05-18 23:36] #52 closed

[2016-05-18 23:53] suyashkumar opened #53 "Downsample data for plotting"
Plotting 8000 points can cause some performance issues on the front end, and it seems we dont really need to plot at the resolution that we do. Is there some merit to simply downsampling the data we are plotting by, say, a factor of 2?
@aforbis-stokes

[2016-05-19 00:47] suyashkumar opened #54 "Dashboard Metadata Display"
Display metadata on the front end like:

* Avg Temp over past N minutes for each channel
* Number of bucket tips in the last H hours (perhaps H=24?)
*  ??
@aforbis-stokes can you add to this as needed?

[2016-05-19 00:48] suyashkumar opened #55 "Push Updates for Front End"
Push updates using socketio of the data displayed in the front end as updates to data arrive (e.g. other bucket tips and new temp data)

[2016-05-19 01:08] mlp6 commented on #51
issue bdf896c

[2016-05-19 01:08] #51 closed

[2016-05-19 01:17] #45 closed

[2016-05-19 01:18] #47 closed

[2016-05-19 01:18] mlp6 commented on #39
Need to add some sort of plot for the bucket tip (count and timestamps of tip); maybe in a separate plot next to the temp plot.

[2016-05-19 01:19] mlp6 commented on #41
We can/should add a "status light" on the dashboard; maybe a green circle for open, and red circle for closed?  This would just be for the active state at the time of last status update.

[2016-05-19 02:07] suyashkumar commented on #41
Indeed, this is easy enough! do we have a Spark.variable() registered for valve status? Can someone point me to that declaration?

[2016-05-19 02:12] mlp6 commented on #41
The Valve class has a public `gasOn` boolean variable that could be easily published.  I'll add that hook now... would it be "easy" to only poll the status when refreshing the webpage instead of publishing it all the time?

[2016-05-19 02:14] suyashkumar commented on #41
Perfect. I'll get this on demand, as that's what we want right? Or do we want to keep track of this information longitudinally (in which case can publish and make it avail on demand).

[2016-05-19 02:20] mlp6 commented on #41
I think it would just be an instantaneous check...

[2016-05-19 04:26] suyashkumar commented on #41
Closed by 27107a1 (and cb39352)

[2016-05-19 12:18] aforbis-stokes commented on #54
Let's do:
- Avg temp over past **60 minutes**
- # bucket tips in last **24 hours**
- Current Valve status

[2016-05-19 12:25] aforbis-stokes commented on #53
I'm not so familiar with "downsampling." Is this simply plotting 1/2 the data that we have? As long as it does not affect the total hard data that can be accessed in the raw csv file, I trust your judgment in what makes the rest easier/better to process and display.

[2016-05-19 12:30] aforbis-stokes commented on #39
How about a second y-axis for bucket tip? Could be on the right, and would not require much labeling so shouldn't make things look too cluttered.
We have 3 buckets, and each has a slightly different volume/tip, so I don't think incorporating that into the code works very well. But, if we converted for the web display, it would be more relevant for whoever is looking. Each tip =325 mL of waste, so

[2016-05-19 14:22] mlp6 commented on #41
Looks like the web server might be crashing on a timeout error:

[code]

[2016-05-19 14:31] suyashkumar commented on #41
Be should be good now, will push a new update

[2016-05-19 14:32] #41 closed

[2016-05-20 14:38] mlp6 commented on #55
I was just thinking about this being a great feature... right now I'm reverting to reloading the entire page and selecting the correct device, etc.  FYI, 3 devices are online now (2 in Kenya for testing)

[2016-05-21 05:10] suyashkumar commented on #55
Just implemented this. However, this will be the most stable when we receive all data on the server at once. Right now it triggers an auto refresh once the server and frontend see that an `HXHO` packet is recieved (which is usually at the end of the series).

[2016-05-21 05:10] #55 closed

[2016-05-21 05:22] suyashkumar opened #56 "HXHO Publish Sometimes dropped?"
Looks like the HXHO publish sometimes gets dropped--only on occasion. Might this be because it's the fifth in a series that only allows a burst of 4 in one second? Note 4 seconds are needed after a burst of 4...
@mlp6 thoughts?
From the Particle Docs:

[2016-05-21 05:31] suyashkumar opened #57 "gasOn Reporting Oddly"
Looks like getting the gasOn boolean using the ondemand infrastructure gives us an odd number. In the response below, it's returning `988209275` from ADPLKenyaNorth0437. From the lab electron it was returning `true` as expected. Might this have to do with firmware changes? 0.5.0 on the lab electron and 0.4.8 on the KenyaNorth. Always thought a bool was just the same as an int (all one byte storage

[2016-05-22 00:47] mlp6 commented on #57
I was able to update the system firmware to 0.5.0 OTA for ADPLKenyaCentral9822.  ADPLKenyaNorth0437 timed out during the same operations, so that is still running 0.4.8.

[2016-05-22 00:52] mlp6 commented on #57
Just got `gasOn` from ADPLKenyaCentral9822 and received a `true`.

[2016-05-22 00:58] mlp6 commented on #56
Sounds like a great catalyst to publish all of the temperatures at once (issue #29)... but it also sounds like this will break the server backend that has to parse this out.  I'm going to break this out into a feature branch to test on the local Duke electron (when the new one comes in) before pushing this to Kenya.

[2016-05-22 03:28] #56 closed

[2016-05-22 03:49] mlp6 opened #59 "create Makefile"
- flashing (location dependent)
- compiling

take into account system firmware for each location, along with custom pin mappings

[2016-05-22 12:47] mlp6 commented on #29
There are still some sub-par syntax in play for parsing the TEMPS event... the JSON is malformed, so I cannot just use `JSON.parse()` to build a dictionary from these data that I can just loop over.  I need to fix that.

[2016-05-22 13:05] mlp6 commented on #29
Actually, in thinking about it a tad more, publishing a true JSON string is going to require even more characters to transmit, so I will leave it as is (for now).

[2016-05-22 13:05] #29 closed

[2016-05-22 13:09] mlp6 commented on #50
This is now included in the README.

[2016-05-22 13:09] #50 closed

[2016-05-26 22:00] mlp6 opened #61 "time loop()"
need to determine how fast loop() is executing (when not publishing)

[2016-05-31 19:34] mlp6 opened #62 "mongodb data backup"
right now the database only resides on the VM server, and if that gets blasted away, then we'd lose all of the historical data for a given device.  We should regularly dump a CSV file and have that pushed to a more robust location (probably Dropbox via the API).

[2016-05-31 19:52] suyashkumar commented on #62
Since we cannot restore the database from a CSV, we can use the `mongodump` utility to export the database and push it up to Dropbox either by installing a Dropbox client on the server or by using the api to push up database dumps

http://www.thegeekstuff.com/2013/09/mongodump-mongorestore/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+TheGeekStuff+(The+Geek+Stuff)

Our dbpath is just

[2016-06-01 01:07] mlp6 opened #63 "databaseValidationError: error in saving to databaseValidationError: Path `loc` is required"
``loc: undefined`` is in the record

[2016-06-01 01:13] #63 closed

[2016-06-01 02:05] suyashkumar opened #64 "Push Notifications Broken"
Push update isn't working

[2016-06-01 02:07] suyashkumar commented on #64
It's because socketio is pointing to localhost:9000 even on production. Will default this value to pulse.suyash.io but this needs to be changed for local testing. Maybe this can be set by templating in the future.

[2016-06-01 02:26] suyashkumar commented on #64
Server side error, because data.name is undefined

[2016-06-01 02:29] suyashkumar commented on #64
Closed by changing data.name --> data.coreid (there was a change at some point)

[2016-06-01 02:37] suyashkumar commented on #64
Whoops it's data.probeid

[2016-06-01 02:38] #64 closed

[2016-06-01 12:05] mlp6 commented on #64
I think this broken when I switched to a single temp publish event (which appears to be working!).  Javascript and I are still not on the friendliest of terms, but we're making it work.

[2016-06-10 04:55] #54 closed

[2016-06-10 04:56] suyashkumar commented on #54
New API routes will need to be build out for bucket tips, going to make a new issue for building bucket tip infrastructure. See #65.

[2016-06-10 05:01] suyashkumar opened #65 "Bucket Tip Infrastructure"
With the addition of bucket tip publishes, new API routes need to built along with the bucket tip dashboard item (number of bucket tips in the last 24hrs).
@aforbis-stokes: What sort of information about the bucket tips is usually needed? The number in the last 24 hours, the last global count to date, and perhaps a historical record of when all bucket tips have happened? Just curious!

[2016-06-13 14:26] aforbis-stokes commented on #65
@suyashkumar sorry for delay, was home visiting family. The number in last 24 hours would be good for dashboard. A record of tips with time of tip is important for us to evaluate operation. Plotting tips with time would be a nice feature and could possibly be overlaid with temperature.

[2016-06-16 20:38] mlp6 opened #66 "web server Docker image"
would be interesting to build up the server in a Docker image to deploy... playing with that on the 'docker' branch.

[2016-06-16 21:08] mlp6 commented on #66
commit 0fffbf8881cd0b6b700c155cb504cc639bbbe5e8

[2016-06-16 23:35] mlp6 opened #67 "docker: js import error"
[code]

[2016-06-16 23:37] suyashkumar commented on #67
@mlp6: twilio has auth keys in twilio_auth.js. Grab this from the current server.

[2016-06-16 23:38] suyashkumar commented on #67
It's gitignored to hide the keys.

[2016-06-16 23:43] #67 closed

[2016-06-16 23:44] mlp6 opened #68 "mongodb error: connection refused"
[code]

[2016-06-16 23:45] suyashkumar commented on #68
MongoDB either isn't running or isn't installed (or isn't running on the right port)

[2016-06-17 00:01] mlp6 commented on #68
still not working... hmmm...

[2016-06-17 01:51] #68 closed

[2016-06-17 04:06] #66 closed

[2016-08-19 19:08] mlp6 opened #70 "reduce dependence on cell connection during device boot"
cell connectivity appears to be an issue at some/all sites... might need to consider using `SYSTEM_THREAD(ENABLED)` (https://docs.particle.io/reference/firmware/electron/#system-thread) to create parallel application and system threads.  a larger concern is what happens to publish events in this setup, both in terms of:
1. offline (temporary) data storage
2. `loop()` execution

[2016-08-19 19:12] mlp6 commented on #70
@aforbis-stokes do you know how long a unit might remain on but offline?  asking from the perspective of how much data might need to be stored temporarily offline before it would get pushed when it does connect and how the data may persist if the unit loses power before it pushes the data.

[2016-08-19 19:13] mlp6 opened #71 "Particle unstable?"
Marc mentioned a few weeks ago over email that he considered the Particle units to be "unstable", but when I asked for more detail to support that statement, I never heard anything back.  Do you know what he was referring to in making this statement?

[2016-08-20 13:15] aforbis-stokes commented on #71
I think it was a response to the combination of our difficulties, which I do not believe are due to the Particle, as well as difficulties another lab in our department has had (Mike Bergin if you know him). I am not sure what problems they have had, though. I'll try to get more feedback from them, but I still prefer working with Particle.

[2016-08-20 13:17] aforbis-stokes commented on #70
Hard to tell how long is it on/off. I have it plugged in while working all day, and it seems to off more than on when I periodically check. I would say off for at least 1-2 hours at a time.

I did find a cell signal booster in town today. I will try to install tomorrow to see what that does. I feel pretty optimistic.

[2016-08-20 13:25] mlp6 commented on #70
Okay... that isn't horrible.  And by "off", you mean lost cell connectivity, not turning off, correct?  I have software changes made, but I am a bit hesitant to push this change w/o testing a bit more.  I also want to see if there is newer system firmware that we can push to make it more cell robust.

[2016-08-20 13:27] aforbis-stokes commented on #70
Yes, I meant "off" for cell connectivity.

All of that sounds good. I am trying to go through a few troubleshooting steps from Particle tech support, but having issues getting Particle CLI to connect to the device over USB...

[2016-11-02 23:40] mlp6 opened #72 "add bypass capacitors"
@aforbis-stokes and I discussed some improvements to make to the design, and adding bypass caps would be a good idea at all of the voltage points that need to be stable, especially into any ICs

[2016-11-02 23:42] mlp6 commented on #71
I'm going to close this issue since I think we're confident that we've identified the primary problems with the field units.  Feel free to re-open if you disagree.

[2016-11-02 23:42] #71 closed

[2016-11-02 23:43] mlp6 commented on #23
@aforbis-stokes is this working correctly?

[2016-11-02 23:45] mlp6 opened #73 "save publish data when cell offline"
need to figure out best way to save data that cannot be published live due to cell service disuption

[2016-11-02 23:46] mlp6 opened #74 "field unit firmwares not the same"
currently we have different firmware running on different units... not ideal, but working for a handful of units... more cumbersome as we scale up

need to figure out:
1. how to query firmware version on given unit with the CLI
2. determine if it is worth mass flashing when we do software upgrades

[2016-11-02 23:47] mlp6 opened #75 "clean up old files in the repo"
we have accumulated a lot of outdated files... need to clean things up and tag

[2016-11-08 12:40] aforbis-stokes commented on #23
I am not getting these texts or emails currently. Each time Suyash does an update I will get the email warnings for a few days, but then they drop off. I'm not sure if it is related our problems of running the Particle properly, so I have not worried about it while we fix the igniter issues.

[2016-11-08 15:48] #70 closed

[2016-11-09 14:29] mlp6 commented on #23
@suyashkumar any insight from your perspective?

[2016-11-09 14:30] mlp6 commented on #61
@oo22 do you think you could benchmark `loop()` execution time?

[2016-11-09 17:44] aforbis-stokes commented on #23
@suyashkumar I have gotten the lab Particle rolling again. I've damaged a few while testing. The operational Particle is now ADPLDuke6191. You can clear all other "ADPLDuke...." from the web database. I'll keep this one going for you to have something to work with.

I do know that ADPLIndia2723 is operational, and I see the data on the Particle Console (though not at this moment), but the last dat

[2016-11-11 15:27] aforbis-stokes commented on #75
Should I remove Arduino files? I don't image going back to those.
We can also remove the level_sensor portion of the code. We will no longer use that operation.

[2016-11-11 15:29] mlp6 commented on #75
ok - I'll do some cleanup based on that.  everything is stored in the git repo history, so it isn't actually "gone", but it keeps the working level populated only with relevant files.  I'll take care of this.

[2016-11-11 20:57] mlp6 opened #76 "``millis()`` time rollover"
@aforbis-stokes do your devices in the field ever stay on for more than 49 days straight?  If so, then we need to take into account that the time variable that we are storing will rollover since we'll exceed the size of the data type ``millis()`` returns.

[2016-11-11 21:11] mlp6 opened #77 "improvement to schematic layout"
try to have signal flow go from left -> right, and power flow go from top -> bottom

[2016-11-11 21:47] aforbis-stokes commented on #76
@mlp6 they should stay on for more than 49 days straight if there is no failure or disconnection. If all was perfect (at least in current design), the Particle would never turn off or disconnect. We just have not been successful preventing those failures for that long.
.

[2016-11-12 17:20] mlp6 commented on #76
okay, then we definitely need to actively account for a time rollover.

the issue is that a time is recorded as an `unsigned long int`, which means that the max value it can hold is `2**32 = 4294967296` ms, or ~49.7 days of elapsed time before running out of bit depth.

I think the best solution would be to keep track of elapsed time using a `float (32 bit)` in seconds, which would give us a lot m

[2016-11-12 17:24] mlp6 opened #78 "missing bucket tip events"
@aforbis-stokes has reported that the bucket tip count isn't working, specifically tip events are missing, but without any rhyme or reason that he has noticed.  This could be an issue on the hardware and/or software side.

I can tackle the software side, but some hardware debugging that should be done:
1. Capture the output of the one-shot on tip events with the o-scope, and save that trace in the

[2016-11-13 22:06] mlp6 opened #79 "log INFO"
v0.6.0 of the firmware has introduced a new Logger class: https://prerelease-docs.particle.io/reference/firmware/photon/#logging

This could really help with capturing error/warn/info content.

[2016-11-13 22:08] mlp6 opened #80 "log WARN"

[2016-11-13 22:08] mlp6 opened #81 "log ERROR"

[2016-11-13 22:14] mlp6 opened #82 "upgrade firmware to v0.6.0"
necessary to:
1. implement ``Logging`` class
2. fix some bugs that could rear their head and affect us (though haven't to date)

[2016-11-13 22:35] mlp6 opened #83 "all device IDs?"
I am currently writing some scripts to help deal w/ a larger number of deployed microcontrollers... ``particle list`` currently yields:
[code]
Would this be the best way to pull out the active list of devices, both locally and in the field?  This will be used for across-the-board firmware updates, bug fixes, feature deployment, etc., where subsets of devices (or a specific device) could also be ch

[2016-11-14 21:38] mlp6 commented on #78
Aaron's mentions that 2-3 in a row can missed, sometimes including the first tip.  I am wondering if this might have to do with forced delays in the code for back-to-back event publishing, etc.  Will benchmark the loop timing to see how long the loop is delayed during publish events, etc.

[2016-11-14 22:15] mlp6 commented on #61
On first benchmark, it is taking ~5.25 s to complete each loop, which is **way** longer than I expected.

There are two courses of action:
1. Identify the bottleneck and reduce that.
2. Make the bucket tip come in via an interrupt event.

I am leaning towards option 2.

[2016-11-15 00:48] mlp6 commented on #61
The bottleneck is the thermistor reads, which take 1 s each, and there are 5 of them serially, which take 5 s of each loop.

I am leaning toward implementing solution that get at both options 1 and 2 above:
1. Rotate between each of the 5 thermocouples with each loop, so that the loop execution time is closer to 1.25 s, but each thermocouple updates only once every ~5 s (not really an issue)
2. As

[2016-11-15 01:53] #61 closed

[2016-11-15 03:16] mlp6 opened #87 "update devices on web server"

[2016-11-15 03:30] #87 closed

[2016-11-15 14:31] aforbis-stokes commented on #61
@mlp6 I see no problem with these steps; I will try out the bucket this morning. Changing the input pin is no problem.

[2016-11-15 15:05] #78 closed

[2016-11-15 17:47] mlp6 opened #88 "mothball the level sensor?"
is this true?  if so, then what modulates the pump activity?

[2016-11-15 17:54] aforbis-stokes commented on #88
Correct. We kept having hardware issues with the level sensor and redesign the collection tank to have a manual overflow so that the sensor was no longer necessary. The pump purely runs on the timer.

[2016-11-15 18:01] mlp6 commented on #88
And that pump timer is independent of the MCU, correct?  i.e., can I disable all calls to running the pump in the code?

[2016-11-15 18:08] aforbis-stokes commented on #88
The timer does run off of the MCU. I forgot how (sorry, I should have logged this), but I have the program running with the code still telling the pump to turn on and off. It may be that when the sensor is not connected, the reading becomes such that the program thinks the level is in the intermediary region that causes the pump to run on the timer. I can see this in the lab unit as the pump pin i

[2016-11-15 18:19] mlp6 commented on #88
Got it; I'll clean up the code to remove the level sensor hooks, but I'll preserve all of the pump timing.

[2016-11-15 18:26] mlp6 opened #89 "webserver issue"
``/boot`` was full on the VM, so I cleaned it up, upgraded packages and rebooted.  restarting the server yielded this error; insight?
[code]

[2016-11-15 20:12] suyashkumar commented on #89
Just tried again and it worked! It seems that perhaps another instance of the server was running (perhaps in a screen?). Could this have happened because of an autostart script on boot? Usually when i get an address in use error I usually run `lsof -i:80` to see what processes are bound to port 80 :). Useful to debug!

I'm happy to investigate this more as well if it crops up again!

[2016-11-15 20:12] #89 closed

[2016-11-17 18:02] mlp6 opened #91 "web server not reporting online data"

[2016-11-20 22:34] mlp6 commented on #91
Web server was down; inspecting the screen session had this error message:

[code]

Manually-restarted the web server... will keep an eye on this.

[2016-11-21 00:54] suyashkumar commented on #91
hmmm it seems that `realData.data.split(",")[d].split(":")[1]` is undefined. It seems you (or perhaps me?) added a comment about how we're parsing non-traditional JSON here--we should probably only do that for messages we're sure have the formatting we expect. Other messages (like system messages) may be published on this stream. I'll add in some safety/error handling logic here to catch and descr

[2016-11-21 00:56] suyashkumar commented on #91
I will say, however, that this is likely unrelated to the "not reporting online data" problem, as in that case the server was still running but not receiving or acting upon new messages on the particle stream.

[2016-11-21 00:56] suyashkumar commented on #91
Also it seems that all these messages are "TEMPS" messages so we shouldn't have to gate further. I will add more safety logic in here though.

[2016-11-21 01:06] suyashkumar opened #93 "Unparseable Messages"
@mlp6 reported the following. I'll add in classic error handling logic to mitigate and catch this in the future.

[2016-11-21 01:20] mlp6 commented on #93
👍

[2016-11-21 01:21] suyashkumar commented on #93
Looking at this, might be able to rewrite this logic to the new byte-saving single publishes :)

[2016-11-21 01:22] mlp6 commented on #93
Stellar... I effectively use your changes as learning opportunities for myself on this end of things.

[2016-11-21 01:28] suyashkumar commented on #93
:D Of course! I hadn't even realized the byte-saving fix was implemented on the firmware side (which makes so much sense)! I'll add you as a reviewer on the pull requests

[2016-11-21 01:32] suyashkumar commented on #93
At some point we should add in unit tests here if we plan on keeping the NodeJS code base! It'd be great to get this project to 100% unit test coverage as we increase it's complexity and global rollout :)

[2016-11-21 02:10] #93 closed

[2016-11-22 01:24] mlp6 commented on #91
Another error associated with the server going offline:
[code]

[2016-11-22 20:52] oo22 opened #95 "Absolute power usage"
Quantifying absolute power usage by the device during a 24 hour period

[2016-11-22 20:52] oo22 commented on #95
Did you have any ideas of how you wanted to approach this?

[2016-11-22 21:39] mlp6 opened #96 "test node 6.x"
* try via ``Dockerfile`` first
* then deploy if needed

[2016-11-22 21:42] oo22 commented on #95
http://www.ti.com/lit/wp/slay023/slay023.pdf
very helpful in calculating the system's use of power.

[2016-11-22 21:48] aforbis-stokes commented on #95
I installed a 2Ohm resistor on the anode side of power supply line. I am using a Vernier Instruments differential voltage meter and data logger to measure voltage drop across the resistor. Knowing power supply voltage and resistance, I can calculate current and then power.

[2016-11-23 00:13] oo22 commented on #95
What is the data logger?
(1) I think the power usage may not be consistent the entire time because the power usage will vary based on the tasks that the MCU is doing (taking in data, resting etc) at different times. To not make it too complicated, from my understanding, we can generalize and say that there are two main events ( for example 1 event when the MCU is not turning on the ignitor and 1 e

[2016-11-23 13:10] mlp6 commented on #95
I think that for getting an average usage over a long period of time, then Aaron's approach should work well, especially if you trigger action events along the way that contribute to total power consumption.

If you care about transient power draw, then I would look into Siji's approach for a discrete device connected to the entire system.

[2016-11-23 13:32] #96 closed

[2016-11-23 13:47] aforbis-stokes commented on #82
How is the firmware updated remotely? The Particle docs make it sound like the device needs to be switched to DFU mode first. Is there a command window call, like "particle flash [device] firmware0.6.0" ? Or can it be changed using Particle Build (using the drop-down menu showing version)?

[2016-11-23 13:51] mlp6 commented on #82
We can do it from the CLI using the example syntax you showed.  Typically we have to download two files since the firmware is too large to flash in one step.  I have flashed several of the device firmwares before, but it is a bit of a "fingers crossed" moment.

[2016-11-23 13:53] mlp6 commented on #82
I usually test run on a local Duke unit first to stress test it a bit before deploying remotely.

[2016-11-23 13:56] aforbis-stokes commented on #82
Ok. The Duke version ADPLDuke0785 version is plugged in now. Kenya devices ADPL_KE_north and ADPLKenyaCentral9822 should both be powered on at Patrick's (field guy) home. He is away from home for another hour or so.

[2016-11-23 14:12] aforbis-stokes commented on #82
Patrick now home and can reset if needed. He has two fresh Electrons set up (found older Electrons were damaged). The Electrons needing the firmware upgrade and software flash are "ADPL_KE_north" and "ADPL_KE_central" (forget about ADPLKenyaCentral9822)

[2016-11-28 21:27] #95 closed

[2016-11-29 00:01] suyashkumar commented on #91
It seems that this socket reset is probably an express/routing issue (someone fired off a request and then closed it before we could write a response). I added in some express middleware error handling in 518064e44b51ba68433402645e38d0dd0de16278 to address this and prevent the server from crashing in such circumstances.

[2016-11-29 00:03] suyashkumar commented on #91
Further investigation is probably still warranted into some of the root causes of the issues we see here if they crop up again. Again i think there are several different issues here, but some of these could be one off (I've noticed that we are getting a lot of bot spam on various routes as well looking through the logs).

[2016-11-29 00:27] suyashkumar commented on #23
@mlp6 @aforbis-stokes sorry just saw this thread -- right now we have texting to get temp data on demand -- texting "temp <DEVICE_NAME>" to the phone number (which I'll put in our private message) will return the following:

![img_9444 copy](https://cloud.githubusercontent.com/assets/6299853/20691695/a0c053d0-b5a0-11e6-90d5-a5ded0c7a8c2.png)

[2016-11-29 00:35] suyashkumar commented on #23
I think proactive alerting is a good idea via email/sms. Some points of inquiry to determine how this alerting feature will shape up:

- Should we expect to have different sets of alert contacts by device or by region (or both)?
- Will we need a front-end component to add/remove phone numbers for alerting in different regions?
- Do we necessarily need local numbers in all these regions? Twilio doe

[2016-11-29 23:02] oo22 opened #98 "PCB Board Design"
@a.forbis.stokes : how big do you want the PCB board to be?  i was thinking about just getting the relays on another board just keep the grounds physically separate . Is that ok?

[2016-11-30 01:11] aforbis-stokes commented on #98
The board can be whatever size is necessary. My hope for the custom board is a more clean, organized layout. I would assume that would reduce the total footprint of my existing circuit board + relay board. As long as the new board does not increase the overall size, I am ok.

[2016-11-30 16:44] suyashkumar commented on #65
@a.forbis.stokes

[2016-11-30 16:58] aforbis-stokes commented on #65
On Particle Console: Each 2.5 data reporting I receive a cumulative number of tips from the start of the Particle turning on. @mlp6 have talked a bit on how to handle as that number will max out at some point.
The way that I worked the tipping bucket & counter separate from the Particle was to report a total number of tips for one day (~100 tips/day). Knowing the time of tips is very helpful becau

[2016-11-30 17:37] aforbis-stokes commented on #65
Thoughts on working with tipping bucket on web server displays. I used the Kenya csv to get the temp data and made up tip data.
![image](https://cloud.githubusercontent.com/assets/10760289/20763809/a4183be2-b6f9-11e6-8ddf-3d36140601e8.png)

[2016-11-30 19:03] oo22 commented on #98
would you like the headers that you used for the relay board on the circuit board or just regular headers?

[2016-11-30 19:16] oo22 commented on #98
do you want a separate circuit board for the ignitor button circuit?

[2016-11-30 19:29] aforbis-stokes commented on #98
No, I'll continue to mount the momentary push-button on the enclosure box containing the igniter. I'll use the twist-cap connectors to connect the wires.

[2016-11-30 19:31] oo22 commented on #98
ok. where is the TVS diode going to be then?

[2016-11-30 19:38] aforbis-stokes commented on #98
I will connect that with the twist-caps as well. I think a custom board just to solder a few wires & TVS together would be overkill. If it is quick and super cheap to make one for that, it wouldn't hurt, but I don't see a good reason to spend >$10 on a board for that purpose.

[2016-11-30 19:39] mlp6 commented on #98
You can do those small, one-off boards just as soldered perf-board, not an etched PCB.

[2016-11-30 19:40] mlp6 commented on #98
I haven't seen any commits w/ the actual control board PCB; are those coming?

[2016-11-30 19:43] oo22 commented on #98
yes it is. I'm making some components PCB editor.

[2016-11-30 19:44] mlp6 commented on #98
also, @oo22 you committed a new version of a file I had deleted b/c it was outdated

`ADPL.SchDoc` was deleted; `ADPL Wiring Diagram.SchDoc` was the latest one.  why was the old one ressurected?

[2016-11-30 19:47] oo22 commented on #98
mhmm My latest one I have is called ADPL.SchDoc. ADPL wiring Diagram is the old one

[2016-11-30 19:49] oo22 commented on #98
ADPL wiring diagram and ADPL_Board should be deleted because they are old

[2016-11-30 19:52] oo22 commented on #98
going to clean that up right now cause the file that I was just working got deleted cause I was opening too many files with the same name.

[2016-11-30 21:28] oo22 opened #99 "Update schematic with new relays"
the schematics in the repository include the schematic representation of the old relays that we were using. Need to update the schematic with the schematic representation of the new relays that we are using.

[2016-11-30 21:33] oo22 commented on #98
@aforbis-stokes some of the boards will have 3 headers for the relays to connect to the three different relays (ignitor, pump, valve) and some will only have 2 headers to connect to 2 different relays (ignitor and pump), correct? I just want to double check

[2016-12-01 15:25] mlp6 opened #100 "add control for compression valve"
there is existing Arduino code that we can eventually roll in

[2016-12-01 15:28] mlp6 commented on #100
control logic: if bucket times over period of time > threshold, then action for specified period of time (eventually achieve "continuous" flow)

[2016-12-01 20:46] aforbis-stokes commented on #98
Mostly correct. One board has 3 relays (ignitor, pump, valve)  and other has 2 (ignitor and Valve). For reference, though, the two relay version is for the majority of systems and likely all future systems. The project in India is the only one with the pump, and it is a special case scenario that likely will not be repeated. I would focus on the 2 relay version and then make it so that adding an a

[2016-12-02 04:51] suyashkumar commented on #65
@aforbis-stokes sweet thanks! Couple thoughts:

Storing bucket tip events along with a time stamp will be very easy to do (and I can do cumulative counts on my own given the timestamps, in addition to holding onto the actual count the device sends).

Would the cumulative tip count reset every day in the graph you propose?

It seems to me it __might__ make sense to create a separate view (perhaps t

[2016-12-02 06:10] suyashkumar commented on #23
@aforbis-stokes Thoughts on the above?

[2016-12-02 06:29] suyashkumar opened #101 "Add HXCO to AVG Temps"
Add `HXCO` to average temps on the front-end, rearrange order to match graph.

[2016-12-02 06:53] #101 closed

[2016-12-02 06:55] suyashkumar commented on #101
New display:
![screen shot 2016-12-01 at 10 50 22 pm](https://cloud.githubusercontent.com/assets/6299853/20825475/30485154-b819-11e6-890d-16a11ffb99e2.png)

[2016-12-02 16:47] aforbis-stokes commented on #65
@suyashkumar that sounds good to me!

Yes, I would have the cumulative tip count reset each day (in meta-data and raw data on csv).
@mlp6 would that be done on the Particle's software?

Re: the figure, what I was meaning to put across was cumulative tip count is great for the meta-data, and I assume that cumulative tips with time on the figure would be the easiest to implement. That figure (top in

[2016-12-02 17:00] aforbis-stokes commented on #23
@suyashkumar my bad...missed these.

1. There will be different sets of alert contact by region (not by both for now). I should be an email alert for all. I would set up the primary field operator for text alerts in each region, but we can hold off on putting that person in until we get some more consistency/reliability in the systems.
2. I'm not sure what you mean by "front-end" (sorry, new to th

[2016-12-08 22:14] mlp6 commented on #88
Commit f2ecb62e23ee7d3b5b6d6d1da318f84880684cc1 removed the level pin map, but there is dependent code that still exists, so master will no longer compile.  Need to fix this ASAP.

[2016-12-08 22:31] #88 closed

[2016-12-09 04:31] suyashkumar opened #104 "Bootstrap React/Redux"
Initial Bootstrap of the react/redux application

[2016-12-09 04:40] suyashkumar opened #105 "Create New LogEvent DB Schema with Valve Status"
Create a new database schema to hold all probe temperatures from a given time sample in one object. Also include valve status at that timestamp. Perhaps rename schema to `TempLogEvent`. Something like:

[code]

[2016-12-09 04:42] suyashkumar opened #106 "Firmware should log valve status along with temperatures"
@aforbis-stokes mentioned he would like to include the valve status with every temperature event publish (see db schema change: #105). We will have to send this status (let's do a 0 or 1) with the temperature publishes.

[2016-12-09 04:49] suyashkumar opened #107 "Server changes to handle valve status along with temp"
Server side of #106

[2016-12-09 04:52] suyashkumar opened #108 "Dump DB to CSV"
Write a tool to dump the entire database to a CSV.

[2016-12-09 05:26] suyashkumar commented on #91
Two errors this time. The first seems like a DNS issue that should get resolved on retry. The second one is an error in parsing JSON from a call to particle's api to get real time valve status. I'll add in logic to catch this better!
[code]

[2016-12-09 08:57] #104 closed

[2016-12-13 08:02] suyashkumar opened #112 "[Angular] Front End Changes to accomodate new Schema"
The API is going to change in a breaking way to handle #105. The Angular front end will need to account for this if the react front end is not ready to take over in time.

[2016-12-16 08:50] #105 closed

[2016-12-16 08:52] #106 closed

[2016-12-16 08:53] #112 closed

[2016-12-16 08:53] #107 closed

[2016-12-16 08:54] suyashkumar commented on #108
This can actually be done really easily with mongodb:
[code]

[2016-12-16 08:54] #108 closed

[2016-12-18 09:34] suyashkumar opened #114 "[React] Create Temperature Plot"
Create the temperature plot (using `recharts`)! Potentially include downsampling of data and good tick formatting.

[2016-12-18 09:38] suyashkumar opened #115 "[React] Create Promise Middleware to take care of loading state"
`redux-promise` does not dispatch actions with a Promise as a payload until the Promise completes. This is not useful if the app is concerned about the loading state (the period between the Promise/action being created and it being fulfilled). Create middleware that fires off an action on request start **and** on request completion (with new data).

[2016-12-18 09:43] #114 closed

[2016-12-18 09:49] #115 closed

[2016-12-18 22:55] suyashkumar opened #117 "[Server, API] Retrieve temperature data for given timeframe and sample period"
Write an API endpoint that returns all temperature data for a given ADPL location that falls within a given timeframe. Probably a good idea to take two UTC date strings like `2016-12-18T22:54:09.057Z` as input. Could also be interesting to take an optional sample period field in the request as well (to downsample data before we return it).

[2016-12-19 08:06] suyashkumar opened #118 "[Server] Create Bucket Tip DB Schema"
Create a schema to store bucket tip events which occur in the following form (in the server-sent-events stream). Also build the infrastructure in `handle-device.js` to parse and store these events from the stream.

[code]

[2016-12-19 08:08] suyashkumar opened #119 "[Server] Create Bucket Tip Routes"
Create routes to retrieve bucket tip data from the database.  This is coupled and dependent on #118.

[2016-12-19 08:18] suyashkumar opened #120 "[React] Create Initial Temperature Averages for Metadata Section"
Create a view that computes and displays temperature averages (for the last 24 hours of data) for each probe. Similar to what existed before:

![screen shot 2016-12-19 at 12 17 53 am](https://cloud.githubusercontent.com/assets/6299853/21305436/9db01622-c580-11e6-9f36-556e807ef9fc.png)

[2016-12-19 08:21] suyashkumar opened #121 "[React] Add Potential Graph Configuration Options"
@aforbis-stokes What parameters would you be interested in configuring on the graph, if any? Was thinking perhaps the sampling rate of the graph (e.g. how many points to show per hour) and perhaps a date range (e.g. last N days) may be interesting. This isn't a high priority feature probably, but just curious! Was thinking about having a little options drawer slide out from the left of the graph f

[2016-12-19 08:24] suyashkumar opened #122 "[React] Realtime Calculations View"
@aforbis-stokes and @mlp6 what, if any, calculations would you (or others) be interested in seeing in real time? Energy supply? Efficiency or volume metrics that represent how well the system is doing perhaps?

[2016-12-19 08:28] suyashkumar commented on #117
@DanielHull I think this would be a good backend starter task for you :). We can go over this and discuss before you get to it, if you'd like.

[2016-12-19 08:44] suyashkumar commented on #117
Could also be interesting if we make this a general get temperatures endpoint that has the option for date ranges but **also** the ability to request downsampled data (e.g. right now every data point is seperated by a minimum of 2.5 mins, but perhaps we want the period for requested data to be a maximum of 20 minutes). Let's do this as well! This means this will likely be a POST end point that we

[2016-12-19 14:37] aforbis-stokes commented on #121
I think options for N days and samples/hr are nice features. Having less points on a 5-7d view makes a lot of sense, but having all data points available for 24hr view is a good alternative. I don't know if it is challenging to build something that is fully customizable by the view in terms of selecting N days or samples/hr. If so, we could create a few options that are controlled, such as a defau

[2016-12-19 14:42] aforbis-stokes commented on #122
Let me think on this one for a little. I think once I can dive into more post-processing of data after the field systems get back to complete operation (we're testing out part of the functionality last week/this week) that I'll have a better idea of what will be useful.

[2016-12-23 06:20] suyashkumar commented on #122
Sounds good! I'll standby on this one then :).

[2016-12-27 05:19] suyashkumar opened #123 "[Server] Create Bucket Tip Stream Parser"

[2016-12-27 06:44] suyashkumar opened #124 "Refactor API Routes"
Consider refactoring the ADPL API based on future use cases.

[2016-12-27 06:46] #118 closed

[2016-12-27 06:46] #119 closed

[2016-12-27 06:46] #123 closed

[2016-12-28 04:15] suyashkumar commented on #65
@aforbis-stokes
We now have bucket tips being recorded in the database (since #125) but the initial results show that the number being reported is not changing over the course of at least this past day ( check out http://adpl.suyash.io/api/bucket/list/ADPLKenyaN3763 ). You mentioned that time of tip is very important -- we shall get that within 2.5 mins as it seems the current firmware setup is to

[2016-12-28 04:17] suyashkumar opened #127 "[Firmware] Only publish BUCKET on change"
@mlp6 @aforbis-stokes as mentioned in #65, does it make sense to only publish the `BUCKET` event (with the total number of counts) on a change in the bucket count (as opposed to every time we do a `TEMP` publish). This way we'll save cellular data and space in the database by not holding on to redundant publishes.

Thoughts?

[2016-12-29 05:25] aforbis-stokes commented on #65
No tips are coming through right now because I have taken the timerblox one-shot out while we test the valve/igniter in the field (that piece is the first to get damaged if something goes wrong).

For the most part the gas valve will open when there is flow (bucket tip), but that may not always be the case.

[2017-01-01 23:42] suyashkumar commented on #65
@aforbis-stokes ah, that makes a lot of sense--those timer chips can be pretty sensitive.

What're your thoughts on doing the bucket-tip publish when the event happens as opposed to every 2.5 mins?

[2017-01-03 21:12] aforbis-stokes commented on #65
@suyashkumar I think the publish on the event is more useful for data analysis; however, I don't know how that affects the current software logic approach to collecting the bucket tip information. @mlp6 thoughts?

Also, I'm not sure of what the +/- is on data transmission. For example, I expect 200-400 tips / day. If we publish only events, that's 200-400 transmissions / day. When we publish tips

[2017-01-04 19:56] mlp6 commented on #65
What about if we publish a summary of the past 2.5 min only if there have been tips during that period.  We can store that information locally and then transmit something like the elapsed time since the last tip for each one.  That would limit the cell data, and put more of the heavy lifting on the packaging and parsing of data (which is totally fine).

[2017-01-04 20:03] mlp6 commented on #65
@aforbis-stokes what sort of precision do you need on the recorded time for each tip event?

[2017-01-04 20:11] aforbis-stokes commented on #65
The current precision of tips / 2.5 min is acceptable...so I'm not totally pushing to make a change. If we do make a change, down to the minute is good. Any further is not necessary.

[2017-01-04 20:13] mlp6 commented on #65
Oh, that would make life easier - so just a number of tips since the last publish event would work?

[2017-01-04 20:14] aforbis-stokes commented on #65
Correct

[2017-01-08 02:44] suyashkumar commented on #65
@mlp6, @aforbis-stokes do we expect there to be multiple bucket tip events within a 2.5 minute window? If not, then your suggested approach would be similar to just publishing bucket tips events as soon as they happen--which gives us better time resolution for the same amount of data spent--unless I'm missing something? (though, I do realize we don't really need the better resolution, just curious

[2017-01-08 14:22] mlp6 commented on #65
I think there can be...

[2017-01-08 18:51] suyashkumar commented on #65
Cool! I can go ahead and get the relevant changes started, then. It may then also make sense to roll the bucket tips into the single `TEMPS` publish then to avoid the overhead of two publishes at the 2.5 minute mark...however, that'll require some significant changes to the server and also probably merits a refactor of the event naming so that's an optimization I'll create an issue for to be addre

[2017-01-08 18:52] mlp6 commented on #65
Sounds good!

[2017-01-08 18:55] suyashkumar commented on #65
Fantastic, will likely get to that this evening! :)

[2017-01-09 15:20] aforbis-stokes commented on #65
I'm a little late to this discussion, but it seems you are already moving in the right direction. Yes, I do expect there will be occasions where there are multiple tips in the 2.5 minute window.

[2017-01-12 18:18] oo22 opened #128 "Remaining schematic comments"
I believe that the only changes that Aaron request that I did not make to the schematic was adding open headers that connect to an open socket for some of the pins on the Electron. Maybe specifying which pins @aforbis-stokes  wants connected to an open socket to @DanielHull, would be helpful for further design.

A few comments on the two schematics we have: The schematic named ADPL.SchDoc is the m

[2017-01-13 16:49] mlp6 opened #129 "PinchValve class"
Create a PinchValve class that actuates the stepper motor, and also has flexibility to take input feedback (future date).

[2017-01-13 16:52] mlp6 opened #130 "Add stepper controller to hardware schematic"

[2017-01-13 16:53] mlp6 opened #131 "Migrate to discrete components or stick with "stock" controller?"
Need to figure out if we want to stick, longer-term, with the out-of-the-box controller, or just use a subset of control components integrated on the control board.  Daniel will investigate this after getting the stock controller board working.

[2017-01-13 17:09] mlp6 commented on #129
You may want to directly inherit from the gas `Valve` class and change for the pinch valve case.

[2017-01-16 00:55] suyashkumar opened #132 "[React] Configure N days shown on temperature graph"
Build a slider that configures how many days worth of data are shown on the graph. By default I'll show the last 2 days of data at a sample rate yet to be determined (at least half of maximum).

See #121 for more graph configuration discussion.

[2017-01-16 05:22] #132 closed

[2017-01-16 21:53] suyashkumar commented on #65
@aforbis-stokes @mlp6 Another thing I remembered--if we are not sending bucket tip publishes when they occur and wish to maintain a global count on the device, it may prove burdensome to develop an efficient way to get the data you need on the server. Particularly if resets can occur in between. Have we considered storing bucket tip count in EEPROM if we really want to maintain a global count?

Or

[2017-01-16 21:58] mlp6 commented on #65
I was hoping to have the server store all "global" count-type information for those reasons.  The one things to deal w/ is when the Particle goes offline for a while b/c of poor cell connectivity, and dealing w/ data that way... and if that is an extended time, then write data to EEPROM to survive a power blip.  These are on the radar for @DanielHull to address once he gets some of the hardware up

[2017-01-16 22:09] suyashkumar commented on #65
@mlp6 Awesome. Ultimately the best format for the server to hold data would be in a time series which serves well for plotting across various time bins. Calculating and storing such a time series would be easiest if the device does the following (from least burdensome to most):

1. Send a publish when a bucket tip occurs, for each bucket tip (200-400 transmissions/day)
2. Send the number of bucket

[2017-01-16 22:13] suyashkumar opened #134 "[React] Add Bucket Tip View"
Build the bucket tips tab view.

* Display the number of tips in the last 24 hours
* Display a plot of the number of tips over the course of time

[2017-01-16 22:15] suyashkumar commented on #65
Ah, I missed the part about the poor cell connectivity. In that case I still think number 2 is the way to go, we'd just publish the change in bucket tip count since the last _successful_ published. :)

[2017-01-18 18:59] suyashkumar opened #137 "Investigate git push deployments"
Investigate automatic deployments of successful builds using Travis CI and git push deployments

[2017-01-19 08:20] suyashkumar opened #138 "Server Side Unit Testing Bootstrap"
* Basic bootstrap of Jest tests for the server
* Travis configuration to run server tests as well

[2017-01-19 13:51] #138 closed

[2017-01-21 07:02] suyashkumar opened #140 "Investigate Firmware CI Builds"
Investigate firmware CI builds. May have to encrypt particle login details

[2017-01-21 07:09] suyashkumar commented on #140
https://community.particle.io/t/using-travis-ci-to-test-firmware-solved-use-expect/14520/7

[2017-01-22 01:17] DanielHull opened #141 "Investigate the desired sensitivity of a shift open or closed of pinch valve"
Desire to implement through testing

[2017-01-22 01:18] DanielHull opened #142 "Decide on pin mapping"
investigate if there are any desired considerations for which GPIO pins to assign specifically

[2017-01-22 01:22] DanielHull opened #143 "Develop 'reset' of the system functionality in constructor and method"
I wonder if I can save a flow_position variable to the EEPROM or some storage compartment so it knows how many turns to make to get back to 'home'

[2017-01-22 01:25] DanielHull commented on #143
maybe particle.variable???

[2017-01-23 02:54] suyashkumar commented on #143
@DanielHull Do we still intend to use contact switches on either extreme of the linear stepper's range of motion? I think it'd be good to have some crude physical feedback in addition to a software persistent storage solution in case the stored value is somehow corrupted or wrong (I know it's high torque, but is it possible for someone to physically move the stepper by accident?). Though it adds c

[2017-01-23 03:27] aforbis-stokes commented on #142
We current use D0,2,and 4 for pump, valve and igniter. Using the other D# pins would be ok. The only concern I can think of would be crowding on the board with more outputs there, but I don't see that being much of an issue.
All C pins are open except for C4 as well. One consideration I just had, though, is if we ever wanted to use a Photon (maybe only for the lab), that does not have C pins. Don'

[2017-01-23 03:37] mlp6 commented on #142
pin_mappings.h contains all of the current pin usage.  You should be able to use any that are open if you just need digital out.  Only a subset can be used for PWM output if that is needed.

[2017-01-23 16:33] DanielHull commented on #142
Yep, I had seen that, just wanted to see if there were additional specs I had overlooked from a wiring and ease standpoint in the physical system. I'll go with the unused D pins!

[2017-01-23 23:20] mlp6 commented on #142
The only other consideration is that only a subset of pins can be used for interrupts, and if possible, we should keep those free for future event detection.  The interrupt pins have some strange pairings under the hood (i.e., some pins cannot be used as independent interrupts, etc.).

[2017-01-24 04:23] suyashkumar opened #144 "[React Client"

[2017-01-24 04:23] #144 closed

[2017-01-24 04:23] suyashkumar opened #145 "[React Client] Fix Timestamps"
Timestamps currently are zero indexed on the plot (e.g. January reports as a 0), and need to be updated

[2017-01-24 04:25] suyashkumar opened #146 "[React Client] Dynamic X-Tick Frequency"
Given a downsampling factor and number of points displayed, calculate a reasonable tick frequency

[2017-01-24 07:25] suyashkumar commented on #145
Minutes also need to be zero padded when the `value < 10`

[2017-01-24 08:25] suyashkumar opened #147 "[React Client] Add React test infrastructure"

[2017-01-24 08:40] #145 closed

[2017-01-24 08:40] #146 closed

[2017-01-24 08:40] #147 closed

[2017-01-26 07:42] suyashkumar opened #151 "[React Client] Implement Real-Time Updates"
Use SocketIO to consume real time update events from the server. Things to consider:

- Might interrupt data exploration with a new fetch every 2.5 mins.
- May reset the downsampling factor to default if it has been changed

@aforbis-stokes what's the priority in your opinion on consuming real time data updates from the server and auto-refreshing? Will this interrupt any data exploration you're do

[2017-01-26 23:30] DanielHull commented on #143
@suyashkumar thanks Suyash, I think we could definitely implement them.

 I think I found a way to do it without monitoring the position of the pinch valve. I create an array of the most recent 6 bucket tip updates, which at every 2.5 minutes, allows me to calculate the flow rate over the past 15 minutes (calculates # buckets/hour). Once it moves towards extremes from the target flow rate, the cla

[2017-01-27 01:55] aforbis-stokes commented on #151
I don't think the interrupt of data exploration with new data coming in will be much of an issue. The online visual is very nice for getting a picture of how operation is currently going and how it has been for the last few days/week. Any in-depth exploration will likely happen with downloaded data. In that case the new data coming in would not be a problem

[2017-01-27 02:18] suyashkumar commented on #151
Sounds good, real time updates on the `/new` front end is slated for implementation then :)

[2017-01-27 16:47] mlp6 commented on #134
Also keep track of servo (valve) activation over that same time period.

[2017-01-27 16:53] aforbis-stokes commented on #134
I think we should go ahead and apply a constant unit conversion for that displayed average value for last 24 hours. That is each tip = 0.325 Liter. I was hesitant before because that value changes slightly between sites, but I think the final unit being displayed as L / day instead of tips / day is much more useful to anyone looking at the website. I can fine-tune on the back end with exact volume

[2017-01-27 17:12] mlp6 opened #153 "add local timezone to device-map.js"
GMT+whatever

[2017-01-27 17:13] aforbis-stokes commented on #153
Kenya: +3
India: +5:30
Philippines: +8

[2017-01-27 17:19] mlp6 opened #154 "[React Client] git-configurable "Notes" section per ADPL site"
Construct a notes view that shows some preset notes for a given ADPL site. The notes data is stored in a fixed JSON file that can be edited by @aforbis-stokes.

[2017-01-27 17:22] mlp6 commented on #127
change since last successful publish event

[2017-01-27 17:37] suyashkumar commented on #127
whoops this hadn't been updated since the discussion in #65 -- but yes, publishing the change in bucket count since the last successful publish event would be best. This makes us a little less tolerant if we lose data (if the server is off or down--which should not really happen anymore) compared to the old solution, but we will save a ton of publish data and it'll be in a better form!

[2017-01-27 19:57] mlp6 commented on #127
It appears that the return status of ``publish()`` isn't really a great indicator of actual success (if anything, just that the command was issued, but not truly successful) [https://community.particle.io/t/detecting-if-spark-publish-fails-to-communicate-with-the-cloud/11776/12]  I could try to pull data from the server back to the device to see if it was successful, but that would waste cell data

[2017-01-27 20:08] mlp6 commented on #127
scratch that... it appears that the latest firmware has better support for this, so I'll setup some condition logic and assume dropped publish events that return ``True`` are rare (for now).

[2017-01-27 20:08] mlp6 commented on #127
https://docs.particle.io/reference/firmware/photon/#particle-publish-

[2017-01-28 07:29] suyashkumar commented on #154
@aforbis-stokes @mlp6 is there a future use case where we would actually want to serve these notes from the server? Would we want these configurable via a user interface? If the goal is to just have notes set via commits to the repo (since this is likely a short term thing) I will just bake the messages into the front-end code -- no need for the server to send 'em down. Not the best technical desi

[2017-01-28 08:31] suyashkumar opened #156 "[Investigation] SSE Stream Reconnection Problems"
Sometimes the SSE stream throws an error that it does not seem to recover from (because we'll stop receiving publish events.

Sample of logs below:
[code]

[2017-01-28 13:39] aforbis-stokes commented on #154
I can't think of a need for that for now. I really only see this being used by me to explain any abnormalities that the user may see on a per-location basis. Part of the danger of sharing all of our data is someone misinterpreting b/c they do not know the full picture (ie. I don't want someone external to check in and think our whole concept has failed b/c the temps are low, when the reality is th

[2017-01-28 18:43] suyashkumar commented on #156
Looking at the eventsource library source, it binds `onConnectionClosed` to the `error` event [in `connect()`](https://github.com/EventSource/eventsource/blob/master/lib/eventsource.js#L172). `onConnectionClosed` has retry logic that is reproduced below:
[code]
The reconnect interval default is 1000ms. The error messages we see are consistent with the additional error being emitted in `onConnectio

[2017-01-28 20:21] suyashkumar commented on #154
@aforbis-stokes that sounds great and makes a lot of sense. I'll get this notes section done by Monday or Tuesday!

[2017-01-29 21:00] #128 closed

[2017-01-29 21:02] #77 closed

[2017-01-29 21:02] #30 closed

[2017-01-29 21:03] #98 closed

[2017-01-29 21:03] #75 closed

[2017-01-29 21:11] mlp6 commented on #73
This is mean to be done with onboard memory, not devices that expect long offline times, which would require an SD card.

[2017-01-29 21:11] #83 closed

[2017-01-29 21:12] mlp6 commented on #99
@DanielHull can you check that these relays are correct, and if so, close this out?

[2017-01-29 21:14] mlp6 commented on #76
I think that if we are streaming the data as diffs back to the web server, then we don't need to worry about this as much w/r to accumulated counts, etc..  Just need to check that none of our calculations will break if the reported time reset.

[2017-01-29 22:04] suyashkumar opened #158 "[Server + React Client] View does not render if no data in the past 3 days"
When the front-end loads a new ADPL site, it tries to fetch the past 3 days worth of data. For sites that do not have any data points in the past 3 days the view does not render.

In this circumstance either the front end should request progressively more days of history or should ask the server to send the past 3 days of whatever data exists for that site (from the last data point that exists).

[2017-01-30 01:05] aforbis-stokes commented on #99
The most recent commit I made "ADPL_improved" has a few changes from the last schematic other than just relay. By-pass capacitors for relays were put into a different location (on + side of relay), and protection diodes were put onto each input sensor. Also, the old igniter was replaced by the new igniter that does not spark and uses 12V and 2A (peak of 7A). @DanielHull looking over the recent dia

[2017-02-01 03:30] DanielHull opened #159 "Add attach interrupt structure"

[2017-02-01 07:49] #154 closed

[2017-02-03 19:46] mlp6 opened #164 "optimize cell data usage"
https://docs.particle.io/reference/firmware/electron/#optimizing-cellular-data-use-with-cloud-connectivity-on-the-electron

[2017-02-03 20:05] mlp6 commented on #74
https://docs.particle.io/reference/firmware/electron/#versionnumber-

[2017-02-03 21:25] #74 closed

[2017-02-05 00:20] suyashkumar opened #167 "Change temp endpoints to api/temp/list*"

[2017-02-05 00:26] suyashkumar opened #168 "[Server] Add support for new Bucket tip format"

[2017-02-05 00:33] #168 closed

[2017-02-08 15:22] aforbis-stokes opened #170 "System-specific software pushes on web interface"
The variables that local operations would like to have access to alter for their systems are below:
pin_mapping (e.g. move HTR to A5 if A2 becomes damaged)
Temp high/low settings (ADPL-electon.ino INCINERATE_LOW_TEMP & INCINERATE_HIGH_TEMP, line 32 & 33)
Time between ignition (ADPL-election.ino IGNITE_DELAY, line 34)
Delay between valve open and ignite (ADPL-electron.ino delay (100), line 74)
Igni

[2017-02-10 04:02] DanielHull commented on #99
@aforbis-stokes the review also mentioned the carrying capacity of the lines as a concern. Not sure if that was something before the ones on Amazon, but the ones listed above carry 10A. Do you where the data sheet for that is? Couldn't identify it on Amazon or online...

[2017-02-10 04:08] aforbis-stokes commented on #99
This is the best I've found (relay only, does not include board)
https://www.ghielectronics.com/downloads/man/20084141716341001RelayX1.pdf

[2017-02-10 04:21] DanielHull commented on #99
There are a lot of similarities (similar coil rating, voltage range, and carrying current). Of note is that one is a DPDT (FTR-F1CL012R) the other two SPDT. The Fujitsu relay is much smaller overall. The only question is control. I'd have to look in more if one signal causes both to switch, (whether we even want that...) or whether there is independent control of both poles.

[2017-02-10 15:06] mlp6 commented on #170
@aforbis-stokes for the delays, do you have bounds and increments that should be adhered to?  Something to make sure that a nonsensical value doesn't get passed onto the device.  Could be set by pulldown menu if in larger, discrete chunks, or be a number entry box with min/max limits.

[2017-02-10 16:32] aforbis-stokes commented on #170
For delay between igniter ignition: If text entry, 1 min increments should be fine; bounds at 1 and 60. If options in a pull down, something like 10, 15, 20, 30, 45, 60
Delay valve open and ignite, 100ms increments up to 5s or if pull-down menu: 100ms, 500ms, 1s, 2s, 3s, 4s, 5s

[2017-02-11 19:09] #99 closed

[2017-02-11 19:09] #130 closed

[2017-02-13 04:17] #142 closed

[2017-02-13 04:20] DanielHull opened #171 "Select diodes for thermistors"
Research into how much current could be generated by various environmental conditions (for instance touching the line)

[2017-02-13 04:25] DanielHull opened #172 "Decide on SMT for passive components"
SMT's will be easier to fix if we keep them at 0806's. I'm worried the vias will lose connection with through holes (happened to me a lot) as components are replaced. Of course many of these like the electron will have to be on headers

[2017-02-13 04:26] DanielHull opened #173 "Add headers to schematic"

[2017-02-13 04:27] DanielHull opened #174 "Move CSV data from Aaron's project to the schematic"

[2017-02-15 02:23] aforbis-stokes commented on #172
I'm ok with SMTs as long as they are components that will never need replacing. I have very little experience mounting SMTs, and I would not count on anyone in the field being able to replace/fix a damaged SMT. The only components I would see needing to replaced, though, are the LVR, timer blox pulse generator and then the external components that should connect via headers anyways (thermistors, P

[2017-02-15 17:52] mlp6 opened #179 "error in saving to databaseValidationError: Path `loc` is required."
Saw that on the server console when I went to restart it with the new device names...

[2017-02-15 18:01] suyashkumar commented on #179
Looking at the logs we seem to have received a message from a particle that wasn't in the map (or led to `loc` being undefined for some reason, see below). However particle `520051000351353337353037` is in the map and things seem to be working for now after the restart. Not sure why that happened. Did you perhaps pull without restarting the server? It's possible the map in memory and the map on di

[2017-02-15 18:03] mlp6 commented on #179
I think that @aforbis-stokes just changed that device overnight; so probably just a transient issue rearing its head.

[2017-02-15 18:04] suyashkumar commented on #179
Yeah, seems like a one off issue, I'll close this out for now.

[2017-02-15 18:04] #179 closed

[2017-02-15 19:31] DanielHull commented on #172
Hmmm good thoughts. I find surface mounts much easier in replacing components. @mlp6 what do you think?

[2017-02-17 05:20] DanielHull opened #180 "Change Voltage Regulator"
See GregMimmack selections

[2017-02-17 07:29] suyashkumar opened #182 "[React] Build Initial Bucket Tip View"

[2017-02-17 07:44] #182 closed

[2017-02-17 17:50] DanielHull opened #187 "put diodes across transitors"
Doing so will protect against voltage spikes both positive and negative which occur when the relay turns on and off

[2017-02-19 17:29] #180 closed

[2017-02-19 17:29] #187 closed

[2017-02-19 17:30] #171 closed

[2017-02-19 17:40] DanielHull commented on #131
@mlp6 I have a few thought on this issue. The majority of the components on the stock controller are used (https://cdn.sparkfun.com/datasheets/Robotics/EasyDriver_v45.pdf). We could recreate the schematic w/o the voltage regulator and eliminate maybe a square cm of the board though. The following datasheet has good explanations on how we could robustly add this linear stepper to our pcb. (https://

[2017-02-20 14:49] mlp6 commented on #131
Not sure if that is worth it... how many discrete components would we need to add, and what coding overhead would we introduce if we couldn't "talk" though simple digital write operations?

[2017-02-20 19:14] suyashkumar commented on #158
The view now renders with an error message!

[2017-02-20 19:14] #158 closed

[2017-02-22 08:09] suyashkumar opened #189 "[React Client] Switching back to Temps from Bucket resets daysToFetch state"
The `daysToFetch` local state in the temps component gets reset when moving back to temps tab from the bucket tips tab. Should eliminate from state and ready from redux store via props

[2017-02-23 18:22] suyashkumar commented on #156
![screen shot 2017-02-23 at 10 15 38 am](https://cloud.githubusercontent.com/assets/6299853/23272746/48df44be-f9b1-11e6-8204-5275fa2f2bc1.png)
More errors -- to be clear, these are coming from the *particle* server (returning 502s). Seems like they've become much less reliable since we started. We seem to be retrying the stream a number of times but it continues to fail on their end. After the str

[2017-03-16 16:09] suyashkumar opened #193 "[Database] Remove duplicates + Enforce Uniqueness on Location, Time"
We noticed odd instances where a large number of duplicate events were being logged for both the `temperatureevents` and `bucketevents` collections. To start addressing this, I wanted to remove all duplicates and enforce a uniqueness index on location and time for all events.

[2017-03-16 16:10] suyashkumar commented on #193
This was closed by running a deduplication script and creating the following indices:
[code]

[2017-03-16 16:10] #193 closed

[2017-03-18 23:08] suyashkumar commented on #156
Another one
[code]

[2017-03-19 21:08] suyashkumar opened #194 "[React Client] Bucket tips do not update on location change"

[2017-03-19 21:08] suyashkumar opened #195 "[React Client] Date is one day ahead"

[2017-03-19 21:19] #194 closed

[2017-03-19 21:22] suyashkumar opened #197 "Clean up FetchTemps Lifecycle"
Fetch temps should only be called if the `temp-view` component is mounted (e.g. if temp data is needed).

[2017-03-19 21:24] suyashkumar opened #198 "Clean up `temp-view`"
Some cleanup to do in `temp-view`: namely, promote it to a container and follow some of the new paradigms in `bucket-view`.

[2017-03-19 21:26] suyashkumar commented on #195
Closed in #196.

[2017-03-19 21:26] #195 closed

[2017-03-29 13:52] #174 closed

[2017-03-29 13:52] #143 closed

[2017-03-29 13:54] DanielHull opened #201 "Move feedback to its own loop function"

[2017-03-29 13:55] DanielHull opened #202 "Get reset to work robustly"
Right now it glitches in resetting the position if one of the up and down interrupts are enabled

[2017-03-29 13:56] DanielHull commented on #201
Presently implemented in tandem with publish data

[2017-03-30 21:36] DanielHull opened #203 "Test the following variables to improve system robustness"
- POSITION_MAX (Number of turn increments up before it is capped)
- POSITION_MIN (Number of turn increments down before it is capped)
- Size of increments (right now implemented in quarter turns, consider eighths for instance
- Time frame to read number of bucket tips or flow rate (shorter - more responsive, less accurate, longer - less responsive, more accurate)

[2017-03-30 23:07] DanielHull commented on #202
Also, want to think about reset as a return to home function based on knowledge of position variable.

[2017-04-03 17:03] suyashkumar opened #204 "Better Logging Instrumentation"
We should instrument better logging (instead of just using `console.log`) in more robust ways. We should investigate and consider adding additional logging middleware to routes, if needed.

[2017-04-11 07:58] suyashkumar opened #206 "[Server] Generate + Download CSV"
Generate and download CSV on the server.

[2017-04-11 08:16] suyashkumar commented on #206
Closed in #207

[2017-04-11 08:16] #206 closed

[2017-04-11 22:15] #201 closed

[2017-04-11 22:15] #203 closed

[2017-04-28 16:59] #202 closed

[2017-04-28 16:59] #141 closed

[2017-04-28 17:14] #131 closed

[2017-04-28 17:14] #129 closed

[2017-04-28 18:09] DanielHull opened #208 "Confirm EEPROM Approach"
Needs to ensure that a system reset will not reset the position variable

[2017-04-28 18:10] #100 closed

[2017-05-31 14:35] mlp6 commented on #208
@DanielHull was this addressed?

[2017-06-01 01:42] DanielHull commented on #208
I gave it a try. It was never perfectly implemented, so if you can give it a try that'd be awesome. I'm ordering some particles here shortly so I can play around with the EEPROM firmware some time as well, but it'd be good to do this before Graham and Aaron go off to Kenya

[2017-06-06 15:16] #73 closed

[2017-06-06 17:32] #208 closed

[2017-06-06 17:32] #159 closed

[2017-06-07 16:13] mlp6 opened #210 "integrate SD library to write to FAT32 card"

[2017-06-07 16:16] mlp6 opened #211 "finalize pin mapping for SD card"
Need to finalize the pin mappings being used on the devices for the June 2017 trip.  `CS` is the most important pin to define.

[2017-06-07 16:24] mlp6 opened #212 "need local SD.h library"
The make the compilation more robust across a heterogeneous set of compilation computers, we'll want to include the `SD.h` library as part of the repository.

[2017-06-07 16:30] mlp6 commented on #212
@suyashkumar I remember you had a strong opinion about dependencies on projects.  We need the SD card library for the device, but I don't want the build process to be dependent on having the Arduino IDE installed (that brings along the library).  We could either:
1. Bring in https://github.com/arduino-libraries/SD as a git submodule to make it available, or
2. Just bring in a snapshot of the relev

[2017-06-07 16:34] mlp6 commented on #212
I am inclined to just plop a copy of the files in a local `libraries` directory in this repo; git submodules (or subtree) can create headaches for folks.

[2017-06-08 05:13] suyashkumar commented on #212
Sure, go ahead and plop a copy of the files in a libraries folder.

We may consider using an embedded build system like [platformio](http://platformio.org/) one day to elegantly handle dependency management...but for now they don't really support the Particle boards.

[2017-06-08 05:13] suyashkumar commented on #212
If we're going to do this instead of a submodule, we should keep track of the commit hash that we snapshotted and put in our repo.

[2017-06-14 17:51] mlp6 opened #214 "only have one return in formatData()"
readability

[2017-06-14 17:53] mlp6 commented on #214
Be sure to reference this issue number in your commit message.

[2017-06-14 18:04] mlp6 opened #215 "make formatData() a method of the PublishData class"

[2017-06-14 18:10] mlp6 opened #216 "create objects based on PublishData class for SD card and cell"
make PublishData abstract enough to handle both types of data publishing

also consider another define pre-processor variable for cell OR use `Particle.connected()`

[2017-06-15 16:47] #216 closed

[2017-06-15 16:48] #214 closed

[2017-06-15 16:48] #215 closed

[2017-06-27 17:32] suyashkumar opened #220 "Add ESLint, run on commit"
Add and initialize ESLint, add a commit hook to run on commit. This probably means we're moving to 2 space indentation.

[2017-06-27 17:32] suyashkumar opened #221 "Restart SSE connection when no events received in a time interval"

[2017-07-05 16:56] mlp6 opened #225 "Docker NodeJS Server failing"

[2017-07-05 17:17] mlp6 commented on #225
Latest error message:
[code]

[2017-07-06 02:14] mlp6 opened #227 "refactor Graham's field code"
code has been copied onto the `mlp6/ctrl-batch-flow` branch

[2017-07-06 14:50] #225 closed

[2017-07-13 13:48] mlp6 opened #231 "integrate new thermistor to check the ignitor exhaust temp"
should be on pin `A5`

[2017-07-13 13:52] mlp6 commented on #231
Need to set threshold temp (68 C?).

[2017-07-13 13:52] mlp6 commented on #231
Also wait for 1 min of elapsed time...

[2017-07-13 17:48] mlp6 opened #232 "access new ignitor temperature on web server"
`node-server/handle-device/message-util.js`; one example of a file that parses out available temperature variables

[2017-07-13 18:44] suyashkumar opened #233 "Scope out new Feature Set"
Discussing with @aforbis-stokes and team on Monday, as the project and scope grows we can and should put new features and products on the engineering roadmap. Originally, the core backend was written in a couple weeks to support querying and display of timeseries temperature data, but now we may want to build a more robust platform with user login, remote device assessment and control, monitoring

[2017-07-13 19:20] mlp6 opened #234 "use clean git repo in Dockerfile"
current `Dockerfile` relies on local git repository, specifically `node-server`, to be copied into the container... this can lead to a mess.  Need to base the container on the actual git repo, not the local git repo where the build is occuring.

[2017-07-16 06:13] suyashkumar opened #237 "Out of Heap Space"
[code]

Seen for the first time today! We may want to upgrade outdated dependencies that may have memory leaks, and looks around to see if there's anything on our end that may be causing this. This doesn't seem to be repeatable and may be transient because this is the first time we've seen this (and the server hasn't been running continuously for that long).

[2017-07-16 06:14] suyashkumar commented on #237
May also be another reason to rewrite backend infra to Golang :)

[2017-07-17 13:29] mlp6 commented on #237
Oh my...

[2017-07-20 16:06] mlp6 opened #239 "Investigate usage of on-board RTC chip"
write UTC time to the SD card file

[2017-07-20 16:07] mlp6 commented on #239
outdated example syntax: https://github.com/bkobkobko/SparkCoreLibraries

[2017-07-20 16:11] mlp6 opened #240 "website plot: limit max/min"
re-map erroneous values (or NaN them?) so that the graph is not thrown off

[2017-07-20 16:17] mlp6 opened #241 "establish error codes"
establish some int error codes that can be published over cell; would correlate with `Log.error()` calls.

[2017-07-20 16:17] mlp6 commented on #241
would also log to SD card

[2017-07-20 16:31] mlp6 opened #242 "[frontend] flow data graph"

[2017-07-20 16:31] mlp6 opened #243 "[frontend] average temp"

[2017-07-20 16:32] mlp6 opened #244 "[frontend] average bucket tip count"

[2017-07-20 18:54] aforbis-stokes commented on #242
Reporting flow is most valuable. Flow[L/hr] =#tips*0.325[L/tip] / ((Current_time-Previous_time[min])*1/60[hr/min])
The 0.325 is average amount of fluid required for a tip. Each location varies slightly (+/-2%), but we can correct for our own post-processing later. This value is close enough for front-end visualization.

[2017-07-20 18:56] aforbis-stokes commented on #244
Average Flow [L/hr] would be more valuable (#tip*0.325[L/tip] / time elapsed [hr])

[2017-07-20 19:26] mlp6 commented on #239
It looks like the Electron has an on-board RTC... will use `Time.now()` to get UTC to write to the SD card.  Need to look into powering `VBAT` on the board to have the time persist across power cycles.  Maybe use a rechargeable that can be kept at voltage with the solar power... or a long-term coin cell.

[2017-07-21 20:05] mlp6 commented on #211
@CalNightingale can you confirm that these are finalized?

[2017-07-21 20:06] mlp6 opened #246 "selectively include SD card library"
We need to investigate the compilation error when we don't need the SD card... right now it is globally included on devices that don't have an SD card, which almost doubles our current firmware size... no bueno for OTA flashes.

[2017-07-23 19:58] suyashkumar opened #247 "[Backend] User Authentication, User Roles"
## Overview
To support trusted CSV data uploads from the Philippines ADPL installations, we must implement User Authentication and User Roles (Admin, Uploader, etc).

@aforbis-stokes What do you think a good set of initial user roles should be? Here are a couple I think make sense:

- **Admin**: Able to do everything, including adding new users.
- **Uploader**: Able to add new trusted data to the

[2017-07-24 14:42] aforbis-stokes commented on #247
Thanks @suyashkumar. This set is what I had in mind.

[2017-07-25 20:22] aforbis-stokes opened #248 "Operate Electron on local SIM cards"
Patricle's SIM charges $$rates compared to local. Also, local SIMs in India have much better, reliable connection to cell network.

[2017-07-25 20:33] aforbis-stokes commented on #170
Additional variables to add to the list:
VOLUME - Tipping bucket volume changes per location
OPTIMAL_FLOW - Different expected flow rates per location
PUBLISH_DELAY - When performing field diagnostics, receiving publishes (e.g. temps) every 2.5 min can eat up time. Temporarily decreasing PUBLISH_DELAY will make this easier. Will have to be confirm that this will not create other problems.

[2017-07-26 15:16] CalNightingale commented on #246
To my knowledge, with `#include` statements it is impossible to selectively include the library short of commenting out the include line and recompiling (however, this will cause errors with all other SD-related functions, ex. SD publish functions)

[2017-07-29 02:22] suyashkumar commented on #248
Seems like it's supported, but will take a little work. We should do it (particularly if we can get data-only SIM cards).
https://docs.particle.io/faq/particle-devices/electron-3rdparty-sims/electron/

[2017-08-25 17:15] mlp6 opened #250 "pinch valve not working"
Latest code on `cal/fatlibmigration` not working correctly.  The pinch valve acts normally in a reset situation and actuates at the desired `WAIT_TIME`, it then however continues actuating in no discernible pattern, endlessly. It also gets stuck in a similar loop when actuated with one of the manual buttons.

[2017-08-25 17:16] mlp6 opened #251 "gas valve logic"
The gas valve relay seems to be running opposite from the standard. And also is unresponsive to raising `T3` above the threshold.  This is on `cal/fatlibmigration`.

[2017-08-25 17:16] #82 closed

[2017-08-25 17:17] #81 closed

[2017-08-25 17:17] #80 closed

[2017-08-25 17:17] #79 closed

[2017-08-25 17:37] mlp6 opened #252 "need more robust SD card handling when ejecting"
re-inserted card after ejection, while electron is still running, leads to nonsensical behavior until power cycle on the electron.  need to see if we can more gracefully close and re-open the sd card file when the card disappears using `SD_CD_PIN`.

[2017-08-25 18:34] mlp6 commented on #252
https://github.com/greiman/SdFat/issues/38

[2017-08-25 19:55] mlp6 opened #253 "include time stamp on SD card data"
need to save UTC time

[2017-08-25 20:42] mlp6 commented on #251
This appears to have been a hardware issue fixed with a new control box.

[2017-08-25 20:42] #251 closed

[2017-08-28 20:13] #252 closed

[2017-08-28 20:14] mlp6 commented on #250
mostly fixed, but pinch valve is not closing after bucket tip

[2017-08-28 20:26] mlp6 commented on #250
appears to be related to some delay by ignitor firings, not software logic

[2017-08-28 20:26] #250 closed

[2017-08-28 20:27] #227 closed

[2017-08-28 20:27] mlp6 commented on #231
closed ad89e89

[2017-08-28 20:27] #231 closed

[2017-08-28 20:29] #211 closed

[2017-08-28 20:29] #210 closed

[2017-08-28 20:30] mlp6 commented on #239
@aforbis-stokes is there power going to the SD card (`VBAT` pin) board to maintain time on it?

[2017-08-28 20:31] #212 closed

[2017-08-28 20:35] mlp6 opened #254 "implement delay after multiple ignition attempts"
ignitor will currently attempt to fire every minute (or specified delay), but if there is a gas valve clog or another problem, this repeated failed ignition attempt will cause problems.  need to:
* implement a 1 hour (user-defined) delay after 4-5 (user-defined) failed attempts
* publish an error log
* turn off the gas during this off time.

[2017-08-28 20:39] #241 closed

[2017-08-28 20:47] mlp6 opened #255 "bucket.updateFlow() not called"
some bucket attributes are not being updated now since `updateFlow()` is never called... either need to update them or rm the unused attributed

[2017-08-28 21:23] aforbis-stokes commented on #239
Yes, SD is always powered by Electron

[2017-08-28 21:43] mlp6 commented on #239
We'll need to test if the RTC maintains time after power cycles.  Something else for Graham to test once we figure out why the timestamps aren't being written (issue #253)

[2017-08-28 21:44] mlp6 commented on #253
`PublishDataSD.cpp` currently has:
[code]
where `printTime()` is defined as:
[code]
That should be doing what we want... but it isn't.

[2017-08-30 20:00] #254 closed

[2017-09-01 16:27] mlp6 opened #258 "error_log.txt only contains latest error code"
The `error_log.txt` file only contains one entry, which appears to be the latest entry.  The desired output is to have this be a running log of errors with appropriate time stamps (which appear to be correct for the single entry happening right now).

[2017-09-01 16:28] mlp6 commented on #258
https://github.com/mlp6/ADPL/blob/3570c94fd530f51001b0af97af4d2f845edac5a7/software/ADPL_electron/PublishDataSD.cpp#L61

I think that `O_WRITE` should be changed to `O_APPEND` (https://github.com/adafruit/SD/blob/master/utility/SdFat.h)

[2017-09-01 18:07] mlp6 opened #259 "implement cell connect timeout"
when cell is not available, the unit will run for ~15 min trying to connect, and when it gives up, it hiccups for 20-30 s switching modes to non-cell... during that "hiccup" period, the MCU is not responsive, which could be bad for actual unit control.

proposed fix - add `Connect.()` calls in `setup()` to actively timeout and end any cell attempts after a specified period (1-2 min)

[2017-09-01 18:09] mlp6 opened #260 "handle dead / disconnected exhaust thermistor"
make the logic more tolerant of a dead or disconnected thermistor (which appears to register a negative temperature when that happens).  could generalize that to all of the thermistors potentially, but definitely the exhaust one.

[2017-09-02 17:59] mlp6 commented on #258
33dc719 prevented creation of `error_file.txt`

[2017-09-03 23:25] #258 closed

[2017-09-04 01:18] mlp6 commented on #260
@aforbis-stokes I think that I'm going to handle this by setting a bad thermistor to read something too hot, so that it never triggers firing the ignitor

[2017-09-04 01:23] #260 closed

[2017-09-04 01:24] #253 closed

[2017-09-04 01:38] mlp6 commented on #259
It appears that the logic to check for an absent versus a flaky cellular connection could get tricky b/c the commands to check for cellular connectivity could cause the unit to hang.  Instead, we can manually set the `SYSTEM_MODE` when we don't expect cell connection to `MANUAL` (the default is `AUTOMATIC`).

[2017-09-04 01:42] #259 closed

[2017-09-04 01:48] #239 closed

[2017-09-18 12:52] mlp6 opened #265 "rm pinchValve.movedown from res_pushed()"
remove the `pinchvalve.movedown = true` from the `void res_pushed()` statement

[2017-09-20 00:36] #265 closed

[2017-09-27 19:44] #246 closed

[2017-10-20 20:10] aforbis-stokes opened #267 "Add Exhaust temp into published data string"
Exhaust temp data will be used for data analysis. Should not be displayed on webpage (will look cluttered). Include in data publishes.

[2018-01-15 17:48] suyashkumar opened #268 "Display bucket tips as flow rate"
Multiply bucket tips by 0.325 to get flow rates L on the frontend!

[2018-01-15 17:53] mlp6 commented on #72
This is a legacy hardware issue that no longer appears to be a problem with what has been implemented and deployed.  Going to close this out.

[2018-01-15 17:53] #72 closed

[2018-01-15 18:23] suyashkumar opened #269 "Calculate key metrics on backend"
We should calculate efficiency calculations on the backend. @aforbis-stokes had the following snippet to inform the calculations to be made:

[code]

[2018-01-15 18:26] suyashkumar opened #270 "Docker Container for Frontend"

[2018-01-15 19:18] aforbis-stokes commented on #243
Last 7 days.

[2018-01-15 19:19] aforbis-stokes commented on #244
Average flow in units of [L/hr] over last 7 days.

[2018-01-15 19:51] #270 closed

[2018-01-15 22:06] jhoballah opened #272 "Temperature plot sticks to local state for daysToFetch"
Should be pulling from the global redux state.

[2018-01-15 22:26] #243 closed

[2018-01-15 22:32] suyashkumar opened #275 "Deploy Dockerized Application to GCP"

[2018-01-16 20:20] mlp6 opened #276 "update README with procedure to setup web server with Docker container"
We have some outdated, legacy setup instructions in the README; should definitely use deploying on Google Cloud and the use of the Docker container as a catalyst to update things.

[2018-01-21 18:59] suyashkumar commented on #275
Done, deployed on VM `adpl-main` with public IP: 35.229.95.108

[2018-01-21 18:59] #275 closed

[2018-01-21 19:03] #268 closed

[2018-01-21 19:10] suyashkumar opened #280 "Building server container should build and include latest frontend"
When building the server container, the latest frontend could should be built into static assets and included in the server container.

[2018-01-21 19:12] suyashkumar commented on #244
Closed in #278

[2018-01-21 19:12] #244 closed

[2018-01-24 14:28] aforbis-stokes commented on #240
Min limit <0 degC; Max limit >80 degC

[2018-01-24 15:04] mlp6 commented on #240
This is something that can/should be done server-side.  We had originally tried doing this on the device so that erroneous values weren't being published, but that broke some of our legacy igniter control logic, and we we didn't want to open that can of worms and create (even more) heterogeneity across the systems.

[2018-01-24 15:05] mlp6 commented on #240
@jhoballah is you comfortable having this in your wheelhouse and having @suyashkumar or I do a PR review on it?

[2018-01-28 20:47] suyashkumar opened #281 "Better validation on temperature (and likely bucket) handlers"
Jawad discovered some good improvements to validation that can and should be made.

[2018-02-23 15:21] aforbis-stokes commented on #267
Bumping this issue back towards the top. We have some burner enhancements coming up and having access to the exhaust temperatures before and after the burner change will be useful.

[2018-03-05 04:28] suyashkumar opened #282 "Rename bucket tip identifiers to flow terminology"

[2018-03-05 04:32] #134 closed

[2018-03-05 04:32] #242 closed

[2018-03-05 04:35] suyashkumar opened #284 "Serve react application from github"

[2018-03-05 04:38] suyashkumar opened #285 "Allow for user selectable bin size for flow rate"

[2018-04-27 12:36] aforbis-stokes commented on #267
Getting this Exhaust temp probe in the published data string is now a pretty critical update. When could we roll this out? @Graham-H-Miller did his own edit to some code to get the Exhaust probe read locally, but we need to be able to access it through a data pull. We can see the data stream in the Particle Console, so the hardware functionality with Graham's local software edit is working correct

[2018-04-27 12:39] aforbis-stokes commented on #240
Did we come to a conclusion on this one?

[2018-05-08 01:04] mlp6 commented on #240
@aforbis-stokes you want these limits applied to all of the temperatures plotted, correct?

[2018-05-08 01:21] mlp6 commented on #267
@aforbis-stokes do you expect the `Exhaust` temperature to be available for all of the devices, or just some?  Our logic for publishing / saving data only handles the bucket tip as an optional item.  If we want exhaust to be optional too, then we need to rework that... but if we can just let it publish data you won't use and don't worry about the wasted bytes, then we'll let it go.

[2018-05-08 15:04] aforbis-stokes commented on #240
Correct

[2018-05-08 15:11] aforbis-stokes commented on #267
I do not see any harm in always publishing the exhaust temp. I imagine there may always be something we can pull out of that. At the same time, we do use the bucket tip everywhere, all the time. Could switch the bucket tip to a variable that always publishes and the exhaust to an optional, as long as that does not conflict with how the bucket tip is written in. Either way, I'm good with whatever i

[2018-05-08 15:15] mlp6 commented on #267
If the bucket tip is used everywhere now, then I think that we should simplify the code with the same publish/save string for all variables, all the time.

@suyashkumar can you confirm that your server-side string parser uses the variable name to parse the value and **not** the order of the variables being published?

[2018-05-08 15:16] mlp6 opened #290 "always publish bucket tip"
Bucket tips used to be a new feature only at a few sites, but now is universal and a key data point.  Streamline the code by not having a publish / save string that exclude the bucket tips.

[2018-05-08 15:40] mlp6 commented on #267
issue #290 removed the optional `no_bucket` data string from being published/saved

need to confirm that 69 characters can still capture all of the new information being sent on the cell publish, and 79 characters is enough for the SD card save

[2018-05-08 15:55] mlp6 commented on #267
@Graham-H-Miller can you confirm with the latest code, which you'll need to re-download here (https://github.com/mlp6/ADPL/archive/v2.6.0-alpha.1.zip), that the publish string for the cell isn't getting clipped?

[2018-05-19 02:33] #267 closed

[2018-05-19 02:33] #290 closed

[2018-05-21 19:11] mlp6 commented on #240
Might want to have the code default to a range of 0-80 deg, but then provide a slider, similar to the days shown slider, to allow the user to adjust on-the-fly so that the code doesn't need to be modified to adjust this range moving forward.

[2018-05-21 19:12] mlp6 commented on #120
Need to remove "bad" data points to avoid skewing these data too much.

[2018-05-21 20:48] mlp6 commented on #240
![image](https://user-images.githubusercontent.com/3239175/40329197-c60ad4ac-5d16-11e8-82ee-ed5f962ab7e4.png)

[2018-05-21 20:48] mlp6 commented on #240
@aforbis-stokes  Example of what the clipped upper bound plot looks like... no data values remapped; just scaling y-axis of the plot.

[2018-05-21 21:03] #120 closed

[2018-05-21 21:08] #233 closed

[2018-05-21 21:16] #255 closed

[2018-05-21 21:17] mlp6 commented on #232
at some point this was done... just not sure where... but can be closed.

[2018-05-21 21:17] #232 closed

[2018-05-21 21:47] mlp6 commented on #234
I think that this is an outdated issue now that `docker-compose` is being used for things.

[2018-05-21 21:47] #234 closed

[2018-05-21 21:48] mlp6 commented on #173
@aforbis-stokes can you confirm if this still needs to be done?

[2018-05-21 21:50] mlp6 commented on #269
@aforbis-stokes can you share what are using to currently do the calculations above?  it is a spreadsheet?

Where do you want these error logs to be dumped?

[2018-05-21 21:51] mlp6 commented on #65
@suyashkumar is this still "open"?

[2018-05-21 21:51] aforbis-stokes commented on #173
I can't remember off-hand if this one happened, but whether or not it did, we will need to do some updating of the schematic with the pinch valve added in. Closing this issue and rolling into new "update schematics for system changes" issue makes sense. Can be assigned to me or @Graham-H-Miller

[2018-05-21 21:53] mlp6 commented on #173
How about if I create a new Milestone for this, and then specific Issues can be created as needed.

[2018-05-21 21:54] mlp6 opened #297 "add pinch valve into schematic"

[2018-05-21 21:55] aforbis-stokes commented on #269
All of my calculations now are through a spreadsheet. I dump the data pull from the Suyash site in my spreadsheet, and copy in the field-recorded data.

Where do the Philippines (SD-based system) error logs go? I assumed these logs can go there. I am not as familiar with those as @Graham-H-Miller is. He's running the Philippines project, and I have not gone through the error logs.

[2018-05-21 21:55] aforbis-stokes commented on #173
Sounds good.

[2018-05-21 21:55] mlp6 commented on #282
@suyashkumar example of what is poorly named?

[2018-05-21 21:56] mlp6 commented on #237
@suyashkumar have we seen this happen again since last summer?

[2018-05-21 22:03] mlp6 commented on #59
This is done, but is not perfect.  That being said, changes to the `Makefile` will happen in the context of necessary functionality moving forward, not just optimizing for the sake of it.

[2018-05-21 22:03] #59 closed

[2018-05-21 22:04] mlp6 commented on #53
I think this is done with the downsampling factor of 100 that is in the plot component, so I'm closing this.

[2018-05-21 22:04] #53 closed

[2018-05-21 22:05] mlp6 commented on #57
I think this has also been fixed, so going to close.

[2018-05-21 22:05] #57 closed

[2018-05-21 22:06] #121 closed

[2018-05-21 22:06] #91 closed

[2018-05-21 22:07] mlp6 commented on #39
This has been integrated into current functionality, so going to close for now.

[2018-05-21 22:07] #39 closed

[2018-05-21 22:08] mlp6 commented on #122
This issue is superseded by #269 .

[2018-05-21 22:08] #122 closed

[2018-05-21 22:09] mlp6 commented on #65
I think this is "done" for now, so going to close.

[2018-05-21 22:09] #65 closed

[2018-05-21 22:10] mlp6 commented on #124
This is done, with lingering higher-order refactoring captured in newer issues.

[2018-05-21 22:10] #124 closed

[2018-05-21 22:11] mlp6 commented on #137
The workflow has deviated a bit since this was originally created.  Now using Google Cloud for the backend and will retool the frontend into its own GitHub repo (issue #284), so this is a legacy ask.

[2018-05-21 22:11] #137 closed

[2018-05-21 22:12] mlp6 commented on #127
Bucket tips are now at all sites, so this is an expected published metric.

[2018-05-21 22:12] #127 closed

[2018-05-21 22:14] suyashkumar commented on #282
I think a lot of this may have been addressed in #283, but I will check to see if there is any references of "bucket tips" remaining

[2018-05-22 01:12] #164 closed

[2018-05-22 01:20] mlp6 commented on #280
Does this differ from #284 ?

[2018-05-22 15:10] mlp6 commented on #282
Agreed... I'll close this to continue our momentum of reducing open issues.

[2018-05-23 01:32] #280 closed

[2018-05-23 01:34] mlp6 commented on #34
Based on Aaron's comments in other issues, most of the data are downloaded offline for additional processing, etc., so this is probably not necessary, especially since you lose the benefits on the online interactive nature of the graphics.

[2018-05-23 01:34] #34 closed

[2018-05-23 01:36] #76 closed

[2018-05-23 01:36] #117 closed

[2019-06-05 14:30] mlp6 opened #301 "CVE-2019-10742"
Vulnerable versions: <= 0.18.0
Patched version: 0.19.0

Axios up to and including 0.18.0 allows attackers to cause a denial of service (application crash) by continuing to accepting content after `maxContentLength` is exceeded.

[2019-06-05 14:30] mlp6 commented on #301
Recommended fix:

1 axios vulnerability found in `…/react-client/package.json`
Remediation
Upgrade axios to version 0.19.0 or later. For example:
[code]

[2019-06-11 19:21] #301 closed

[2019-06-13 06:25] suyashkumar opened #304 "Remove node-server/public static assets"
The built frontend was previously committed to this repository under `node-server/public`, and represented the frontend being served in production. As of #303 this will be built dynamically from the `react-client` code present in the directory every time the cloud-dashboard containers are built.

[2019-06-13 12:40] mlp6 opened #305 "npm error on Docker config to build frontend static assets on start"

[2019-06-13 12:45] mlp6 commented on #305
[code]

[2019-06-13 12:45] mlp6 commented on #305
[code]

[2019-06-13 13:00] mlp6 commented on #305
[log.txt](https://github.com/mlp6/ADPL/files/3286128/log.txt)

this is a copy of the full build log that was generated

[2019-06-13 13:17] mlp6 commented on #305
Note that manually running the `npm install` command works just fine.

[2019-06-13 16:07] suyashkumar commented on #305
Interesting, running `docker compose up --build` worked fine on my Mac and I was able to test end to end. This appears to be a build error building libsass. I can look deeper into the logs when I’m not on my phone but this makes me wonder if using `FROM node:latest` is a bad idea (maybe if we use the old tag, it’ll be able to pull a prebuilt version of libsass, which is known to have build issues)

[2019-06-13 16:08] suyashkumar commented on #305
Also, there are a lot of old and deprecated deps in this repo that would be nice to update and cleanup in the future (and update to the latest react).

[2019-06-13 16:19] suyashkumar commented on #305
Try modifying the dockerfile to use `FROM node:7.8.0` which is the base image the frontend container used previously—I cannot reproduce on my system (maybe could on a vm) otherwise I’d test myself.

[2019-06-13 16:54] #304 closed

[2019-06-13 16:54] #305 closed

[2019-10-26 16:35] mlp6 opened #308 "sites do not appear in frontend pull down menu when new server instance started"
Migrated web server, and when creating a new server instance / database, the website comes up, but no sites are populated in the pulldown menu.

[2019-10-27 16:28] mlp6 opened #309 "bring NodeJS framework up-to-date to work with `node:latest`"
We've held this back at NodeJS 8.x to avoid problems with a lot of `npm` packages that were not working with the latest NodeJS.  Probably need to fix this now as other things need updating too.  Some initial warnings to hash out at the same time:

[code]

[2019-10-28 02:30] #308 closed

[2019-10-29 18:34] mlp6 opened #310 "MongoDB Service Without Authentication Detection"
Duke OIT identified this security vulnerability.

Their proposed solution: Enable authentication or restrict access to the MongoDB service.

[2019-10-29 18:57] mlp6 commented on #310
https://docs.mongodb.com/manual/tutorial/enable-authentication/